#dpiDetection {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
}

 #webgis-panel .x-panel-header.app-header {
	height: 29px;
}
.app-header div.x-box-item {
	padding-top: 6px !important;
}
.app-header table.x-box-item {
	padding-top: 4px !important;
}

button.layer-info {
	position: absolute;
	cursor: pointer;
	background-image: url('../images/glyphicons-halflings.png') !important;
	background: no-repeat;
	background-position: -119px -95px !important;
	background-position-x: -119px !important;
	background-position-y: -95px !important;
	right: 0px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	padding-left: 6px;
	padding-right: 10px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: 3px solid #FFFFE0;
	background-color: #FFFFE0 !important;
	display: none;
}
.x-tree-selected button.layer-info {
	border-left: 3px solid #E0FFFF;
	background-color: #E0FFFF !important;
}

div.x-tree-node-el {
	cursor: default !important;
}

div.x-tree-node-over button.layer-info {
	display: block;
}

div.x-tree-node-leaf {
	clear: right;
}

button::-moz-focus-inner {
	border: 0;
}

div.scale-control {
	line-height: 0px !important;
}

.x-tree-node-el {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.x-list-body dl {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

.x-tree-node .x-tree-selected {
	background-color: transparent;
}

.x-tree-node-over, .x-grid3-row-over, dl.x-list-over {
	background-image: none !important;
	background-color: #FFFFE0 !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.x-tree-selected, .x-grid3-row-selected, dl.x-list-selected {
	background-image: none !important;
	background-color: #E0FFFF !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.x-combo-list .x-combo-selected {
	background-color: #FFFFE0 !important;

}

.olControlAttribution {
	bottom: 5px !important;
	right: 5px !important;
	margin-left: 100px !important;
	font-size: 11px !important;
	font-family: tahoma,arial,verdana,sans-serif !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.olControlAttribution.google {
	bottom: 16px !important;
}

.olControlScaleLine {
	left: 6px !important;
	bottom: 5px !important;
	font-size: 10px !important;
	font-family: tahoma,arial,verdana,sans-serif !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}
.olControlScaleLine.google {
	bottom: 32px !important;
}

.app-title {
	font-size: 12px !important;
	font-weight: bold !important;
}

div.x-border-panel.layers-panel {
	border-left: 3px solid #D0D0D0;
}

.layers-panel {
	background-color: #D0D0D0 !important;
}

.layers-toolbar .x-panel-body {
	background-color: #F0F0F0;
}

.layers-panel .x-panel-header {
	background-color: #F0F0F0 !important;
	background-image: none;
	border-top: 1px solid;
	border-color: #FFFFFF;
	margin: 2px 2px 1px 2px;
	padding: 1px 5px 1px 2px;
}

.measure-panel .x-panel-header {
	background-image: url("../images/header-gray.gif");
	line-height: normal;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px solid;
	border-right: 1px solid;
	border-color: #D0D0D0;
	padding: 4px 1px 4px 1px;
}

.measure-panel .x-panel-header-text, .topic-detail-panel .x-panel-header-text, .topics-panel .x-panel-header-text {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #222222;
}

.x-combo-list-item, .layers-toolbar .x-form-text, .x-form-text.x-form-field, .x-panel-body label, .x-toolbar label {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.x-tip label {
	font-weight: bold;
}

.measure-panel .x-panel-body {
	background-color: #F0F0F0 !important;
}

.measure-panel form.x-panel-body {
	margin: 12px 4px 8px 4px;
}

#layers-tree-panel.layers-panel .x-panel-header {
	padding: 1px 1px 1px 2px;
}

.layers-panel .x-panel-header-text {
	display: block;
	padding-top: 4px;
}

#layers-tree-panel .x-panel-header {
	border-bottom: 2px solid #d0d0d0 !important;
}

.olControlNoSelect {
	background-color:rgba(200, 200, 200, 0.3);
}

.legend-item img {
	display: block;
}

.olControlPanPanel div {
	background-image: url('../images/tool-sprites.gif') !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomToMaxExtentItemInactive {
	display:none;
}

.olControlPanPanel .olControlPanNorthItemInactive {
	background-position: 15px -60px !important;
	background-position-x: 15px !important;
	background-position-y: -60px !important;
	left: 16px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive {
	background-position: 15px -75px !important;
	background-position-x: 15px !important;
	background-position-y: -75px !important;
	left: 16px !important;
	top: 32px !important;
}

.olControlPanPanel .olControlPanWestItemInactive {
	background-position: 15px -105px !important;
	background-position-x: 15px !important;
	background-position-y: -105px !important;
	left: 2px !important;
	top: 16px !important;
}

.olControlPanPanel .olControlPanEastItemInactive {
	background-position: 15px -120px !important;
	background-position-x: 15px !important;
	background-position-y: -120px !important;
	left: 30px !important;
	top: 16px !important;
}

.olControlZoomPanel div {
	background-image: url('../images/tool-sprites.gif') !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomPanel .olControlZoomInItemInactive {
	background-position: 15px -240px !important;
	background-position-x: 15px !important;
	background-position-y: -240px !important;
	left: 7px !important;
	top: -5px !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
	background-position: 15px -255px !important;
	background-position-x: 15px !important;
	background-position-y: -255px !important;
	left: 7px !important;
	top: 168px !important;
}

.x-panel-header {
	color: #333;
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.x-panel-body-text {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	margin: 5px;
}

.x-panel-body-text label {
	font-weight: bold;
	font-size: 11px;
}

.x-panel-body-text p {
	margin-top: 8px;
}

.x-panel-header.app-header{
	padding: 0px !important;
}

.main-toolbar {
	padding: 1px !important;
}

.main-toolbar .x-btn-over button, .main-toolbar .x-btn-pressed button {
	background-image: url('../images/toolbar/buttons-toolbar-color.png') !important;
}

.zoom-to-max-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png') !important;
	background: no-repeat;
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}

.previous-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -24px 0px !important;
	background-position-x: -24px !important;
	background-position-y: 0px !important;
}

.next-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -48px 0px !important;
	background-position-x: -48px !important;
	background-position-y: 0px !important;
}

.search-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -24px -24px !important;
	background-position-x: -24px !important;
	background-position-y: -24px !important;
}

.featureinfo-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -48px -24px !important;
	background-position-x: -48px !important;
	background-position-y: -24px !important;
}

.measure-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -24px -48px !important;
	background-position-x: -24px !important;
	background-position-y: -48px !important;
}

.draw-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: 0px -24px !important;
	background-position-x: 0px !important;
	background-position-y: -24px !important;
}

.print-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: 0px -48px !important;
	background-position-x: 0px !important;
	background-position-y: -48px !important;
}

.topics-icon {
	height: 24px !important;
	width: 24px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -48px -48px !important;
	background-position-x: -48px !important;
	background-position-y: -48px !important;
}

.point-layer-icon, .point-layer-icon-queryable, .line-layer-icon, .line-layer-icon-queryable, .polygon-layer-icon, .polygon-layer-icon-queryable {
	background-image: url('../images/toolbar/layer-geometry.png')!important;
	background: no-repeat;
}
.point-layer-icon {
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}
.point-layer-icon-queryable {
	background-position: 0px -18px !important;
	background-position-x: 0px !important;
	background-position-y: -18px !important;
}
.line-layer-icon {
	background-position: 0px -36px !important;
	background-position-x: 0px !important;
	background-position-y: -36px !important;
}
.line-layer-icon-queryable {
	background-position: 0px -54px !important;
	background-position-x: 0px !important;
	background-position-y: -54px !important;
}
.polygon-layer-icon {
	background-position: 0px -72px !important;
	background-position-x: 0px !important;
	background-position-y: -72px !important;
}
.polygon-layer-icon-queryable {
	background-position: 0px -90px !important;
	background-position-x: 0px !important;
	background-position-y: -90px !important;
}

.draw-point-icon, .measure-point-icon , .draw-line-icon, .measure-line-icon, .draw-polygon-icon, .measure-polygon-icon {
	background-image: url('../images/toolbar/geometry.png') !important;
	padding-left: 28px !important;
}

.draw-point-icon, .measure-point-icon {
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}
.draw-line-icon, .measure-line-icon {
	background-position: 0px -72px !important;
	background-position-x: 0px !important;
	background-position-y: -72px !important;
}
.draw-polygon-icon, .measure-polygon-icon {
	background-position: 0px -144px !important;
	background-position-x: 0px !important;
	background-position-y: -144px !important;
}
.x-tab-strip-active .draw-point-icon {
	background-position: 0px -24px !important;
	background-position-x: 0px !important;
	background-position-y: -24px !important;
}
.x-tab-strip-active .draw-line-icon {
	background-position: 0px -96px !important;
	background-position-x: 0px !important;
	background-position-y: -96px !important;
}
.x-tab-strip-active .draw-polygon-icon {
	background-position: 0px -168px !important;
	background-position-x: 0px !important;
	background-position-y: -168px !important;
}
.x-tab-strip-active .measure-point-icon {
	background-position: 0px -48px !important;
	background-position-x: 0px !important;
	background-position-y: -48px !important;
}
.x-tab-strip-active .measure-line-icon {
	background-position: 0px -120px !important;
	background-position-x: 0px !important;
	background-position-y: -120px !important;
}
.x-tab-strip-active .measure-polygon-icon {
	background-position: 0px -192px !important;
	background-position-x: 0px !important;
	background-position-y: -192px !important;
}

.logout-icon {
	background-image: url('../images/toolbar/tools.png')!important;
	background: no-repeat;
	background-position: 0px -16px !important;
	background-position-x: 0px !important;
	background-position-y: -16px !important;
}

.login-icon {
	background-image: url('../images/toolbar/tools.png')!important;
	background: no-repeat;
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}

.x-btn-icon button.add-icon {
	width: 15px !important;
	height: 15px !important;
	background-image: url('../images/tool-sprites.gif')!important;
	background: no-repeat;
	background-position: -15px -240px !important;
	background-position-x: -15px !important;
	background-position-y: -240px !important;
}

.x-btn-icon button.remove-icon {
	width: 15px !important;
	height: 15px !important;
	background-image: url('../images/tool-sprites.gif')!important;
	background: no-repeat;
	background-position: -15px 0px !important;
	background-position-x: -15px !important;
	background-position-y: 0px !important;
}

.search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-tc, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-mc, .search-control-buttons .x-btn-bl, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-bc {
	background-image: none;
}

.search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-bl {
	background-image: none;
	display: none;
}

.search-control-buttons {
	padding: 2px;
}

.x-grid-cell-inner, .x-selectable {
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
	-webkit-user-select: text !important;
}

.layer-category-item {
	background-color: rgba(200, 200, 200, 0.3);
	font-weight: bold;
}

.layer-unavailable-item {
	color: gray;
}

.list-item-indent-1 {
	padding-left: 8px;
}
.list-item-indent-2 {
	padding-left: 16px;
}
.list-item-indent-3 {
	padding-left: 24px;
}
.list-item-indent-4 {
	padding-left: 32px;
}
.list-item-indent-5 {
	padding-left: 40px;
}
.list-item-indent-6 {
	padding-left: 48px;
}
.list-item-indent-7 {
	padding-left: 56px;
}
.list-item-indent-8 {
	padding-left: 64px;
}

.layers-panel .x-tree-root-ct {
	margin-left: -15px;
}

.x-tree-no-lines .x-tree-elbow-end-plus {
	background-image: none;
}
.x-tree-no-lines .x-tree-elbow-end-minus {
	background-image: none;
}

.x-tree-node-expanded .x-tree-node-icon, .x-tree-node-collapsed .x-tree-node-icon {
	background-image: none;
	width: 0px;
	height: 0px;
}

.x-tree-node-leaf .x-tree-node-icon {
	width: 18px !important;
}

.x-tree-node-expanded, .x-tree-node-collapsed {
	font-weight: bold;
	background-color: rgba(200, 200, 200, 0.3);
}

.x-tree-node span.x-tree-node-indent {
	background-color: #FFFFFF;
	display: inline-block;
	height: 18px;
}

.overlays-root .x-tree-elbow-end-minus, .overlays-root .x-tree-elbow-end-plus {
	background-image: none;
}

.x-tree-ec-icon.x-tree-elbow, .x-tree-ec-icon.x-tree-elbow-end {
	width: 10px !important;
	padding-right: 2px;
}

.x-tree-elbow-line, .x-tree-icon {
	width: 13px !important;
}

div.overlays-root {
	display: none;
}

.x-tool-zoom {
	float: left;
}

.x-grid3-hd-inner, .x-grid3-cell-inner {
	padding-left: 2px;
	padding-right: 2px;
}
.x-grid3-col-drawing {
	padding-top: 2px;
	padding-bottom: 0px;
}

td.x-grid3-td-drawing.x-grid3-col {
	text-align: center;
}

.x-tool-download {
	background-image: url('../images/toolbar/tools.png')!important;
	background: no-repeat;
	background-position: 0 -64px;
	background-position-x: 0px;
	background-position-y: -64px;
	width: 16px;
	height: 16px;
}

img.zoom-to-feature, .x-tool-zoom {
	background-image: url('../images/toolbar/tools.png')!important;
	background: no-repeat;
	background-position: 0 -32px;
	background-position-x: 0px;
	background-position-y: -32px;
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

img.export-feature {
	background-image: url('../images/toolbar/tools.png')!important;
	background: no-repeat;
	background-position: 0 -48px;
	background-position-x: 0px;
	background-position-y: -48px;
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

img.export-feature-disabled {
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: default;
	background-image: url('../images/toolbar/tools.png')!important;
	background: no-repeat;
	background-position: 0 -48px;
	background-position-x: 0px;
	background-position-y: -48px;
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

span.x-panel-header-text {
	display: table;
	margin: 0 auto;
}

span#featureinfo-status {
	position: absolute;
	top: 6px;
	left: 7px;
}

div.x-layout-split-south {
	display: none!important;
}

div.layer-info-panel {
	max-height: 120px !important;
}

.x-toolbar .x-btn-noicon .x-btn-tl,.x-toolbar .x-btn-noicon .x-btn-tr,.x-toolbar .x-btn-noicon .x-btn-tc,.x-toolbar .x-btn-noicon .x-btn-ml,.x-toolbar .x-btn-noicon .x-btn-mr,.x-toolbar .x-btn-noicon .x-btn-mc,.x-toolbar .x-btn-noicon .x-btn-bl,.x-toolbar .x-btn-noicon .x-btn-br,.x-toolbar .x-btn-noicon .x-btn-bc {
	background-image: url(../images/toolbar/btn.gif);
}
.x-toolbar .x-btn-noicon .x-btn-tl {
	background-position: 0 0;
	background-position-x: 0;
	background-position-y: 0;
}
.x-toolbar .x-btn-noicon .x-btn-tr {
	background-position: -3px 0;
	background-position-x: -3px;
	background-position-y: 0;
}
.x-toolbar .x-btn-noicon .x-btn-tc {
	background-position: 0 -6px;
	background-position-x: 0;
	background-position-y: -6px;
}
.x-toolbar .x-btn-noicon .x-btn-ml {
	background-position: 0px -24px;
	background-position-x: 0;
	background-position-y: -24px;
}
.x-toolbar .x-btn-noicon .x-btn-mr {
	background-position: -3px -24px;
	background-position-x: -3px;
	background-position-y: -24px;
}
.x-toolbar .x-btn-noicon .x-btn-mc {
	background-position: 0 -1096px;
	background-position-x: 0;
	background-position-y: -1096px;
}
.x-toolbar .x-btn-noicon .x-btn-bl {
	background-position: 0 -3px;
	background-position-x: 0;
	background-position-y: -3px;
}
.x-toolbar .x-btn-noicon .x-btn-br {
	background-position: -3px -3px;
	background-position-x: -3px;
	background-position-y: -3px;
}
.x-toolbar .x-btn-noicon .x-btn-bc {
	background-position: 0 -15px;
	background-position-x: 0;
	background-position-y: -15px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-tl {
	background-position: -6px 0;
	background-position-x: -6px;
	background-position-y: 0;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-tr {
	background-position: -9px 0;
	background-position-x: -9px;
	background-position-y: 0;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-tc {
	background-position: 0 -9px;
	background-position-x: 0;
	background-position-y: -9px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-ml {
	background-position: -6px -24px;
	background-position-x: -6px;
	background-position-y: -24px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-mr {
	background-position: -9px -24px;
	background-position-x: -9px;
	background-position-y: -24px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-mc {
	background-position: 0 -2168px;
	background-position-x: 0;
	background-position-y: -2168px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-bl {
	background-position: -6px -3px;
	background-position-x: -6px;
	background-position-y: -3px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-br {
	background-position: -9px -3px;
	background-position-x: -9px;
	background-position-y: -3px;
}
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-bc {
	background-position: 0 -18px;
	background-position-x: 0;
	background-position-y: -18px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-tl,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-tl,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-tl {
	background-position: -12px 0;
	background-position-x: -12px;
	background-position-y: 0;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-tr,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-tr,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-tr {
	background-position: -15px 0;
	background-position-x: -15px;
	background-position-y: 0;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-tc,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-tc,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-tc {
	background-position: 0 -12px;
	background-position-x: 0;
	background-position-y: -12px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-ml,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-ml,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-ml {
	background-position: -12px -24px;
	background-position-x: -12px;
	background-position-y: -24px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-mr,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-mr,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-mr {
	background-position: -15px -24px;
	background-position-x: -15px;
	background-position-y: -24px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-mc,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-mc,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-mc {
	background-position: 0 -3240px;
	background-position-x: 0;
	background-position-y: -3240px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-bl,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-bl,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-bl {
	background-position: -12px -3px;
	background-position-x: -12px;
	background-position-y: -3px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-br,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-br,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-br {
	background-position: -15px -3px;
	background-position-x: -15px;
	background-position-y: -3px;
}
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-bc,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-bc,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-bc {
	background-position: 0 -21px;
	background-position-x: 0;
	background-position-y: -21px;
}

.save-drawings-form form {
	padding-top: 10px;
}

.snapping-icon, .select-mode-icon {
	background-image: url('../images/toolbar/buttons-drawing.png')!important;
	background: no-repeat;
	width: 20px !important;
	height: 20px !important;
	background: no-repeat;
}
.select-mode-icon {
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}
.x-btn-pressed .select-mode-icon {
	background-position: -20px 0px !important;
	background-position-x: -20px !important;
	background-position-y: 0px !important;
}
.snapping-icon {
	background-position: 0px -20px !important;
	background-position-x: 0px !important;
	background-position-y: -20px !important;
}
.x-btn-pressed .snapping-icon {
	background-position: -20px -20px !important;
	background-position-x: -20px !important;
	background-position-y: -20px !important;
}

div.topic-layers {
	background-color: #fff;
	border: 1px solid #c1c1c1;
	padding-top: 6px;
	padding-bottom: 20px;
	overflow-y: auto;
}

label.layer-group {
	font-weight: bold !important;
}

.x-tool-expand-east {
	background-position: 0 -165px;
	background-position-x: 0px;
	background-position-y: -165px;
	margin: 6px 0px 0px 0px;
}

.x-tool-collapse-east {
	background-position: 0 -180px;
	background-position-x: 0px;
	background-position-y: -180px;
}

.x-layout-collapsed-east {
	background-color: #F0F0F0 !important;
	border: none;
	width: 15px;
}

#featureinfo-expand-button.x-btn-over .x-tool-collapse-north {
	background-position: -15px -210px;
	background-position-x: -15px;
	background-position-y: -210px;
}

.topic-detail-panel .x-panel-body {
	background-color: #f0f0f0;
	padding: 4px;
}

.x-toolbar .x-form-checkbox {
	margin-top: 0px;
}

button.x-btn-text {
	padding-left: 3px !important;
	padding-right: 3px !important;
}

table.x-btn-noicon {
	min-width: 70px;
}

.topic-detail-panel .x-tool-toggle, #topics-window .x-layout-cmini-east {
	display: none !important;
}

.details-expanded .x-tool-right {
	background-position: 0 -180px;
	background-position-x: 0px;
	background-position-y: -180px;
}

.x-tip-header-text {
	font-size: 12px !important;
}
.x-tip-header {
	margin-bottom: 3px !important;
}

.x-tab-with-icon {
	min-width: 80px;
}

.topic-detail-panel label {
	padding-top: 6px;
	padding-bottom: 3px;
}

.x-tool.invisible {
	background-image: none;
	cursor: default !important;
}
.invisible .x-btn {
	cursor: default !important;
}
#featureinfo-panel-xcollapsed {
	display: none !important;
}

::-webkit-scrollbar {
	width:10px;
	height:10px;
	background-color:#F7F7F7;
}

::-webkit-scrollbar-thumb {
	background-color:#D7D7D7;
	border:1px solid #AAAAAA;
	border-radius:10px;
	-webkit-box-shadow:0 0 3px #B0B0B0 inset;
}

::-webkit-scrollbar-thumb:hover {
	background-color:#C0C0C0;
	border:1px solid #777777;
}

::-webkit-scrollbar-track {
	border:1px #BBBBBB solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 4px #C0C0C0 inset;
}
