[Unit]
Description=GIS.lab Web
#Requires=gunicorn.socket
After=network.target

[Service]
#WorkingDirectory=
Environment="DJANGO_SETTINGS_MODULE=djproject.settings"
Type=simple
KillMode=process

# GISLAB_DEBUG: set log-level value to 'debug' for debug mode
ExecStart=/usr/bin/gunicorn \
            --name gislab-web \
            --workers {{ ansible_processor_vcpus * 2 + 1 }} \
            --pythonpath={{ root_dir }}/www:{{ root_dir }}/virtualenv/gislab-web/lib/python2.7/site-packages \
            --user www-data \
            --group www-data \
            --log-syslog \
            --log-level error \
            --bind unix:{{ root_dir }}/www/gunicorn.sock \
            djproject.wsgi:application

[Install]
WantedBy=multi-user.target
