host_name server.gis.lab
allow ^127\.0\.0\.1$
host 127.0.0.1
port 4949
background 1
setsid 1
user root
group root
log_level 0
log_file /dev/null
pid_file /var/run/munin/munin-node.pid
ignore_file ~$
ignore_file DEADJOE$
ignore_file \.bak$
ignore_file %$
ignore_file \.dpkg-(tmp|new|old|dist)$
ignore_file \.rpm(save|new)$
ignore_file \.pod$
