user www-data;
worker_processes 4;
pid /var/run/nginx.pid;

events {
	worker_connections 768;
}

http {
	# Basic Settings
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	# Logging Settings
	error_log /storage/log/nginx-error.log;
	
	{% if not GISLAB_DEBUG_SERVICES %}
	access_log /dev/null;
	{% else %}
	access_log /storage/log/nginx-access.log;
	{% endif %}

	# Gzip Settings
	gzip on;
	gzip_disable "msie6";

	# Virtual Host Configs
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}
