server {
    root /var/www/default;
    index index.html index.htm;

    listen 80 default_server;
    server_name _; # catch all

    location / {
        try_files $uri $uri/ /index.html;
        autoindex on;
    }
}
