<?xml version='1.0' encoding='UTF-8' ?>

<purple version='1.0'>
	<blist>
		<group name='Chats'>
			<setting name='collapsed' type='bool'>0</setting>
			<chat proto='prpl-irc' account='{+ GISLAB_USER +}@chat.gis.lab'>
				<component name='channel'>#gislab</component>
				<setting name='gtk-persistent' type='bool'>1</setting>
				<setting name='gtk-mute-sound' type='bool'>0</setting>
				<setting name='gtk-autojoin' type='bool'>1</setting>
			</chat>
		</group>
	</blist>
	<privacy>
		<account proto='prpl-irc' name='{+ GISLAB_USER +}@chat.gis.lab' mode='1'/>
	</privacy>
</purple>
