PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:{{ GISLAB_ROOT }}/admin"

GISLAB_VERSION="{{ GISLAB_VERSION }}"
GISLAB_UNIQUE_ID="{{ GISLAB_UNIQUE_ID }}"

GISLAB_ROOT="{{ GISLAB_ROOT }}"
