description "Start GIS.lab cluster Serf agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [06]

kill signal INT    # Use SIGINT instead of SIGTERM so serf can depart the cluster.
respawn
respawn limit 15 5
kill timeout 90
normal exit 0 TERM INT

exec serf agent \
	-bind {{ GISLAB_NETWORK_SERVER_IP }} \
	-keyring-file /etc/gislab/gislab_serf.key \
	-event-handler "member-join=/opt/gislab/system/serf/handlers/member-join.sh" \
	-event-handler "member-leave,member-failed=/opt/gislab/system/serf/handlers/member-leave.sh" \
	-event-handler "user:member-join-lb=/opt/gislab/system/serf/handlers/member-join-lb.sh" \
	-event-handler "user:adduser=/opt/gislab/system/serf/handlers/adduser.sh" \
	-event-handler "query:uptime=uptime" \
	-event-handler "query:test=echo 'yes'" \
	-node="server.gis.lab" \
	-tag role=server \
	-tag queries=uptime,test \
	-log-level=err \
	-syslog
