description "Start GIS.lab cluster Serf agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [06]

kill signal INT    # Use SIGINT instead of SIGTERM so serf can depart the cluster.
respawn
respawn limit 15 5
kill timeout 90
normal exit 0 TERM INT

exec serf agent \
    -bind {{ GISLAB_NETWORK_SERVER_IP }} \
    -keyring-file {{ GISLAB_PATH_SECRET }}/gislab_serf.key \
    -event-handler "member-join={{ root_dir }}/handlers/member-join.sh" \
    -event-handler "member-leave,member-failed={{ root_dir }}/handlers/member-leave.sh" \
    -event-handler "user:member-join-lb={{ root_dir }}/handlers/member-join-lb.sh" \
    -event-handler "user:adduser={{ root_dir }}/handlers/adduser.sh" \
    -event-handler "query:uptime=uptime" \
    -node="server.gis.lab" \
    -tag role=server \
    -log-level=err \
    -syslog
