#dpiDetection {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
}

button::-moz-focus-inner {
	border: 0;
}

div.scale-control {
	line-height: 0px !important;
}

.x-tree-node-el {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.x-tree-node .x-tree-node-over {
	background-color: #FFFFE0 !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.x-tree-node .x-tree-selected {
	background-color: transparent;
}

.x-grid3-row-over {
	background-image: none !important;
	background-color: #FFFFE0 !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.x-grid3-row-selected {
	background-image: none !important;
	background-color: #E0FFFF !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.olControlAttribution {
	bottom: 5px !important;
	right: 5px !important;
	margin-left: 100px !important;
	font-size: 11px !important;
	font-family: tahoma,arial,verdana,sans-serif !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.olControlScaleLine {
	bottom: 5px !important;
	font-size: 10px !important;
	font-family: tahoma,arial,verdana,sans-serif !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.app-title {
	font-size: 12px !important;
	font-weight: bold !important;
}

.layers-panel {
	background-color: #D0D0D0 !important;
}

.layers-toolbar .x-panel-body {
	background-color: #F0F0F0;
}

.layers-panel .x-panel-header {
	background-color: #F0F0F0 !important;
	background-image: none;
	border-top: 1px solid;
	border-color: #FFFFFF;
	margin: 2px 2px 1px 2px;
	padding: 6px 5px 2px 2px;
}

#layers-tree-panel.layers-panel .x-panel-header {
	padding: 1px 1px 1px 2px;
}

.layers-panel .x-panel-header-text {
	display: block;
}

.olControlNoSelect {
	background-color:rgba(200, 200, 200, 0.3);
}

.legend-item img {
	display: block;
}

.olControlPanPanel div {
	background-image: url('../images/tool-sprites.gif') !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomToMaxExtentItemInactive {
	display:none;
}

.olControlPanPanel .olControlPanNorthItemInactive {
	background-position: 15px -60px !important;
	left: 16px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive {
	background-position: 15px -75px !important;
	left: 16px !important;
	top: 32px !important;
}

.olControlPanPanel .olControlPanWestItemInactive {
	background-position: 15px -105px !important;
	left: 2px !important;
	top: 16px !important;
}

.olControlPanPanel .olControlPanEastItemInactive {
	background-position: 15px -120px !important;
	left: 30px !important;
	top: 16px !important;
}

.olControlZoomPanel div {
	background-image: url('../images/tool-sprites.gif') !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomPanel .olControlZoomInItemInactive {
	background-position: 15px -240px !important;
	left: 7px !important;
	top: -5px !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
	background-position: 15px -255px !important;
	left: 7px !important;
	top: 168px !important;
}

.x-panel-header {
	color: #333;
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.x-panel-body-text {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	margin: 5px;
}

.x-panel-body-text label {
	font-weight: bold;
	font-size: 11px;
}

.x-panel-body-text p {
	margin-top: 8px;
}

.x-panel-header.app-header{
	padding: 0px !important;
}

.main-toolbar {
	padding: 1px !important;
}

.main-toolbar .x-btn-over button{
	background-image: url('../images/toolbar/buttons-toolbar-color.png') !important;
}

.main-toolbar .x-btn-pressed button{
	background-image: url('../images/toolbar/buttons-toolbar-color.png') !important;
}

.zoom-to-max-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png') !important;
	background: no-repeat;
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}

.pan-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: 0px -18px !important;
	background-position-x: 0px !important;
	background-position-y: -18px !important;
}

.previous-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -18px 0px !important;
	background-position-x: -18px !important;
	background-position-y: 0px !important;
}

.next-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -36px 0px !important;
	background-position-x: -36px !important;
	background-position-y: 0px !important;
}

.search-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: 0px -36px !important;
	background-position-x: 0px !important;
	background-position-y: -36px !important;
}

.featureinfo-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -18px -18px !important;
	background-position-x: -18px !important;
	background-position-y: -18px !important;
}

.length-measure-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -72px -36px !important;
	background-position-x: -72px !important;
	background-position-y: -36px !important;
}

.area-measure-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -72px -18px !important;
	background-position-x: -72px !important;
	background-position-y: -18px !important;
}

.draw-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -54px -18px !important;
	background-position-x: -54px !important;
	background-position-y: -18px !important;
}

.print-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -54px -36px !important;
	background-position-x: -54px !important;
	background-position-y: -36px !important;
}

.point-layer-icon {
	background-image: url('../images/toolbar/point_gray.png')!important;
	background: no-repeat;
}

.line-layer-icon {
	background-image: url('../images/toolbar/line_gray.png')!important;
	background: no-repeat;
}

.polygon-layer-icon {
	background-image: url('../images/toolbar/polygon_gray.png')!important;
	background: no-repeat;
}

.draw-point-icon {
	background-image: url('../images/toolbar/point_gray.png')!important;
	background: no-repeat;
}

.x-tab-strip-active .draw-point-icon {
	background-image: url('../images/toolbar/point_red.png')!important;
}

.draw-line-icon {
	background-image: url('../images/toolbar/line_gray.png')!important;
	background: no-repeat;
}

.x-tab-strip-active .draw-line-icon {
	background-image: url('../images/toolbar/line_red.png')!important;
}

.draw-polygon-icon {
	background-image: url('../images/toolbar/polygon_gray.png')!important;
	background: no-repeat;
}

.x-tab-strip-active .draw-polygon-icon {
	background-image: url('../images/toolbar/polygon_red.png')!important;
}

.logout-icon {
	background-image: url('../images/toolbar/logout.png')!important;
	background: no-repeat;
}

.login-icon {
	background-image: url('../images/toolbar/login.png')!important;
	background: no-repeat;
}

.x-btn-icon button.add-icon {
	width: 15px !important;
	height: 15px !important;
	background-image: url('../images/tool-sprites.gif')!important;
	background: no-repeat;
	background-position: -15px -240px !important;
	background-position-x: -15px !important;
	background-position-y: -240px !important;
}

.x-btn-icon button.remove-icon {
	width: 15px !important;
	height: 15px !important;
	background-image: url('../images/tool-sprites.gif')!important;
	background: no-repeat;
	background-position: -15px 0px !important;
	background-position-x: -15px !important;
	background-position-y: 0px !important;
}

.search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-tc, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-mc, .search-control-buttons .x-btn-bl, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-bc {
	background-image: none;
}

.search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-bl {
	background-image: none;
	display: none;
}

.search-control-buttons {
	padding: 2px;
}

.x-grid-cell-inner, .x-selectable {
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
	-webkit-user-select: text !important;
}

.x-combo-list-item {
	font: 11px arial,tahoma,helvetica,sans-serif;
}

.layers-toolbar .x-form-text {
	font: 11px arial,tahoma,helvetica,sans-serif;
}

.layer-category-item {
	background-color: rgba(200, 200, 200, 0.3);
	font-weight: bold;
}

.layer-unavailable-item {
	color: gray;
}

.list-item-indent-1 {
	padding-left: 8px;
}
.list-item-indent-2 {
	padding-left: 16px;
}
.list-item-indent-3 {
	padding-left: 24px;
}
.list-item-indent-4 {
	padding-left: 32px;
}
.list-item-indent-5 {
	padding-left: 40px;
}
.list-item-indent-6 {
	padding-left: 48px;
}
.list-item-indent-7 {
	padding-left: 56px;
}
.list-item-indent-8 {
	padding-left: 64px;
}

.layers-panel .x-tree-root-ct {
	margin-left: -15px;
}

.x-tree-no-lines .x-tree-elbow-end-plus {
	background-image: none;
}
.x-tree-no-lines .x-tree-elbow-end-minus {
	background-image: none;
}

.x-tree-node-expanded .x-tree-node-icon, .x-tree-node-collapsed .x-tree-node-icon {
	background-image: none;
	width: 0px;
	height: 0px;
}

.x-tree-node-expanded, .x-tree-node-collapsed {
	font-weight: bold;
	background-color: rgba(200, 200, 200, 0.3);
}

.x-tree-node span.x-tree-node-indent {
	background-color: #FFFFFF;
	display: inline-block;
	height: 18px;
}

.overlays-root .x-tree-elbow-end-minus, .overlays-root .x-tree-elbow-end-plus {
	background-image: none;
}

div.overlays-root {
	display: none;
}

img.zoom-to-feature {
	background-image: url('../images/toolbar/zoom_to.png')!important;
	background: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

img.export-feature {
	background-image: url('../images/toolbar/export.png')!important;
	background: no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

span.x-panel-header-text {
	display: table;
	margin: 0 auto;
}

span#featureinfo-status {
	position: absolute;
	top: 6px;
	left: 15px;
}

div.x-layout-split-south {
	display: none!important;
}
