#dpiDetection {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
}

button::-moz-focus-inner {
	border: 0;
}

div.scale-control {
	line-height: 0px !important;
}

.x-tree-node-el {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.x-list-body dl {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

.x-tree-node .x-tree-selected {
	background-color: transparent;
}

.x-tree-node-over, .x-grid3-row-over, dl.x-list-over {
	background-image: none !important;
	background-color: #FFFFE0 !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.x-grid3-row-selected, dl.x-list-selected {
	background-image: none !important;
	background-color: #E0FFFF !important;
	border-top: 1px dotted #BBB;
	border-bottom: 1px dotted #BBB;
}

.olControlAttribution {
	bottom: 5px !important;
	right: 5px !important;
	margin-left: 100px !important;
	font-size: 11px !important;
	font-family: tahoma,arial,verdana,sans-serif !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.olControlAttribution.google {
	bottom: 16px !important;
}

.olControlScaleLine {
	left: 6px !important;
	bottom: 5px !important;
	font-size: 10px !important;
	font-family: tahoma,arial,verdana,sans-serif !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}
.olControlScaleLine.google {
	bottom: 32px !important;
}

.app-title {
	font-size: 12px !important;
	font-weight: bold !important;
}

.layers-panel {
	background-color: #D0D0D0 !important;
}

.layers-toolbar .x-panel-body {
	background-color: #F0F0F0;
}

.layers-panel .x-panel-header {
	background-color: #F0F0F0 !important;
	background-image: none;
	border-top: 1px solid;
	border-color: #FFFFFF;
	margin: 2px 2px 1px 2px;
	padding: 6px 5px 2px 2px;
}

.measure-panel .x-panel-header {
	background-image: url("../images/header-gray.gif");
	line-height: normal;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px solid;
	border-right: 1px solid;
	border-color: #D0D0D0;
	padding: 4px 1px 4px 1px;
}

.measure-panel .x-panel-header-text, .theme-detail-panel .x-panel-header-text, .themes-panel .x-panel-header-text {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #222222;
}

.x-panel-body label {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.measure-panel .x-panel-body {
	background-color: #F0F0F0 !important;
}

.measure-panel form.x-panel-body {
	margin: 12px 4px 8px 4px;
}

#layers-tree-panel.layers-panel .x-panel-header {
	padding: 1px 1px 1px 2px;
}

.layers-panel .x-panel-header-text {
	display: block;
}

.olControlNoSelect {
	background-color:rgba(200, 200, 200, 0.3);
}

.legend-item img {
	display: block;
}

.olControlPanPanel div {
	background-image: url('../images/tool-sprites.gif') !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomToMaxExtentItemInactive {
	display:none;
}

.olControlPanPanel .olControlPanNorthItemInactive {
	background-position: 15px -60px !important;
	left: 16px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive {
	background-position: 15px -75px !important;
	left: 16px !important;
	top: 32px !important;
}

.olControlPanPanel .olControlPanWestItemInactive {
	background-position: 15px -105px !important;
	left: 2px !important;
	top: 16px !important;
}

.olControlPanPanel .olControlPanEastItemInactive {
	background-position: 15px -120px !important;
	left: 30px !important;
	top: 16px !important;
}

.olControlZoomPanel div {
	background-image: url('../images/tool-sprites.gif') !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomPanel .olControlZoomInItemInactive {
	background-position: 15px -240px !important;
	left: 7px !important;
	top: -5px !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
	background-position: 15px -255px !important;
	left: 7px !important;
	top: 168px !important;
}

.x-panel-header {
	color: #333;
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.x-panel-body-text {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	margin: 5px;
}

.x-panel-body-text label {
	font-weight: bold;
	font-size: 11px;
}

.x-panel-body-text p {
	margin-top: 8px;
}

.x-panel-header.app-header{
	padding: 0px !important;
}

.main-toolbar {
	padding: 1px !important;
}

.main-toolbar .x-btn-over button{
	background-image: url('../images/toolbar/buttons-toolbar-color.png') !important;
}

.main-toolbar .x-btn-pressed button{
	background-image: url('../images/toolbar/buttons-toolbar-color.png') !important;
}

.zoom-to-max-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png') !important;
	background: no-repeat;
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}

.pan-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: 0px -18px !important;
	background-position-x: 0px !important;
	background-position-y: -18px !important;
}

.previous-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -18px 0px !important;
	background-position-x: -18px !important;
	background-position-y: 0px !important;
}

.next-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -36px 0px !important;
	background-position-x: -36px !important;
	background-position-y: 0px !important;
}

.search-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: 0px -36px !important;
	background-position-x: 0px !important;
	background-position-y: -36px !important;
}

.featureinfo-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -18px -18px !important;
	background-position-x: -18px !important;
	background-position-y: -18px !important;
}

.measure-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -36px -18px !important;
	background-position-x: -36px !important;
	background-position-y: -18px !important;
}

.draw-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -54px -18px !important;
	background-position-x: -54px !important;
	background-position-y: -18px !important;
}

.draw-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -54px -18px !important;
	background-position-x: -54px !important;
	background-position-y: -18px !important;
}

.print-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -54px -36px !important;
	background-position-x: -54px !important;
	background-position-y: -36px !important;
}

.themes-icon {
	height: 18px !important;
	width: 18px !important;
	background-image: url('../images/toolbar/buttons-toolbar-gray.png')!important;
	background: no-repeat;
	background-position: -18px -36px !important;
	background-position-x: -18px !important;
	background-position-y: -36px !important;
}

.point-layer-icon {
	background-image: url('../images/toolbar/point_gray.png')!important;
	background: no-repeat;
}

.point-layer-icon-queryable {
	background-image: url('../images/toolbar/point_blue.png')!important;
	background: no-repeat;
}

.line-layer-icon {
	background-image: url('../images/toolbar/line_gray.png')!important;
	background: no-repeat;
}

.line-layer-icon-queryable {
	background-image: url('../images/toolbar/line_blue.png')!important;
	background: no-repeat;
}

.polygon-layer-icon {
	background-image: url('../images/toolbar/polygon_gray.png')!important;
	background: no-repeat;
}

.polygon-layer-icon-queryable {
	background-image: url('../images/toolbar/polygon_blue.png')!important;
	background: no-repeat;
}

.draw-point-icon, .measure-point-icon {
	background-image: url('../images/toolbar/point_gray.png')!important;
	background: no-repeat;
}

.draw-line-icon, .measure-line-icon {
	background-image: url('../images/toolbar/line_gray.png')!important;
	background: no-repeat;
}

.draw-polygon-icon, .measure-polygon-icon {
	background-image: url('../images/toolbar/polygon_gray.png')!important;
	background: no-repeat;
}

.x-tab-strip-active .draw-point-icon {
	background-image: url('../images/toolbar/point_red.png')!important;
}

.x-tab-strip-active .draw-line-icon {
	background-image: url('../images/toolbar/line_red.png')!important;
}

.x-tab-strip-active .draw-polygon-icon {
	background-image: url('../images/toolbar/polygon_red.png')!important;
}

.x-tab-strip-active .measure-point-icon {
	background-image: url('../images/toolbar/point_orange.png')!important;
}

.x-tab-strip-active .measure-line-icon {
	background-image: url('../images/toolbar/line_orange.png')!important;
}

.x-tab-strip-active .measure-polygon-icon {
	background-image: url('../images/toolbar/polygon_orange.png')!important;
}

.logout-icon {
	background-image: url('../images/toolbar/logout.png')!important;
	background: no-repeat;
}

.login-icon {
	background-image: url('../images/toolbar/login.png')!important;
	background: no-repeat;
}

.x-btn-icon button.add-icon {
	width: 15px !important;
	height: 15px !important;
	background-image: url('../images/tool-sprites.gif')!important;
	background: no-repeat;
	background-position: -15px -240px !important;
	background-position-x: -15px !important;
	background-position-y: -240px !important;
}

.x-btn-icon button.remove-icon {
	width: 15px !important;
	height: 15px !important;
	background-image: url('../images/tool-sprites.gif')!important;
	background: no-repeat;
	background-position: -15px 0px !important;
	background-position-x: -15px !important;
	background-position-y: 0px !important;
}

.search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-tc, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-mc, .search-control-buttons .x-btn-bl, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-bc {
	background-image: none;
}

.search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-bl {
	background-image: none;
	display: none;
}

.search-control-buttons {
	padding: 2px;
}

.x-grid-cell-inner, .x-selectable {
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
	-webkit-user-select: text !important;
}

.x-combo-list-item {
	font: 11px arial,tahoma,helvetica,sans-serif;
}

.layers-toolbar .x-form-text {
	font: 11px arial,tahoma,helvetica,sans-serif;
}

.layer-category-item {
	background-color: rgba(200, 200, 200, 0.3);
	font-weight: bold;
}

.layer-unavailable-item {
	color: gray;
}

.list-item-indent-1 {
	padding-left: 8px;
}
.list-item-indent-2 {
	padding-left: 16px;
}
.list-item-indent-3 {
	padding-left: 24px;
}
.list-item-indent-4 {
	padding-left: 32px;
}
.list-item-indent-5 {
	padding-left: 40px;
}
.list-item-indent-6 {
	padding-left: 48px;
}
.list-item-indent-7 {
	padding-left: 56px;
}
.list-item-indent-8 {
	padding-left: 64px;
}

.layers-panel .x-tree-root-ct {
	margin-left: -15px;
}

.x-tree-no-lines .x-tree-elbow-end-plus {
	background-image: none;
}
.x-tree-no-lines .x-tree-elbow-end-minus {
	background-image: none;
}

.x-tree-node-expanded .x-tree-node-icon, .x-tree-node-collapsed .x-tree-node-icon {
	background-image: none;
	width: 0px;
	height: 0px;
}

.x-tree-node-expanded, .x-tree-node-collapsed {
	font-weight: bold;
	background-color: rgba(200, 200, 200, 0.3);
}

.x-tree-node span.x-tree-node-indent {
	background-color: #FFFFFF;
	display: inline-block;
	height: 18px;
}

.overlays-root .x-tree-elbow-end-minus, .overlays-root .x-tree-elbow-end-plus {
	background-image: none;
}

div.overlays-root {
	display: none;
}

img.zoom-to-feature {
	background-image: url('../images/toolbar/zoom_to.png')!important;
	background: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

img.export-feature {
	background-image: url('../images/toolbar/export.png')!important;
	background: no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

span.x-panel-header-text {
	display: table;
	margin: 0 auto;
}

span#featureinfo-status {
	position: absolute;
	top: 6px;
	left: 15px;
}

div.x-layout-split-south {
	display: none!important;
}

div.layer-info-panel {
	min-width: 250px;
	max-width: 500px;
}

.x-toolbar .x-btn-noicon .x-btn-tl,.x-toolbar .x-btn-noicon .x-btn-tr,.x-toolbar .x-btn-noicon .x-btn-tc,.x-toolbar .x-btn-noicon .x-btn-ml,.x-toolbar .x-btn-noicon .x-btn-mr,.x-toolbar .x-btn-noicon .x-btn-mc,.x-toolbar .x-btn-noicon .x-btn-bl,.x-toolbar .x-btn-noicon .x-btn-br,.x-toolbar .x-btn-noicon .x-btn-bc {
	background-image: url(../images/toolbar/btn.gif);
}
.x-toolbar .x-btn-noicon .x-btn-tl { background-position: 0 0; }
.x-toolbar .x-btn-noicon .x-btn-tr { background-position: -3px 0; }
.x-toolbar .x-btn-noicon .x-btn-tc { background-position: 0 -6px; }
.x-toolbar .x-btn-noicon .x-btn-ml { background-position: 0px -24px; }
.x-toolbar .x-btn-noicon .x-btn-mr { background-position: -3px -24px; }
.x-toolbar .x-btn-noicon .x-btn-mc { background-position: 0 -1096px; }
.x-toolbar .x-btn-noicon .x-btn-bl { background-position: 0 -3px; }
.x-toolbar .x-btn-noicon .x-btn-br { background-position: -3px -3px; }
.x-toolbar .x-btn-noicon .x-btn-bc { background-position: 0 -15px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-tl{ background-position: -6px 0; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-tr { background-position: -9px 0; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-tc { background-position: 0 -9px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-ml { background-position: -6px -24px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-mr { background-position: -9px -24px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-mc { background-position: 0 -2168px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-bl { background-position: -6px -3px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-br { background-position: -9px -3px; }
.x-toolbar .x-btn-noicon.x-btn-over .x-btn-bc { background-position: 0 -18px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-tl,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-tl,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-tl { background-position: -12px 0; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-tr,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-tr,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-tr { background-position: -15px 0; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-tc,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-tc,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-tc { background-position: 0 -12px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-ml,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-ml,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-ml { background-position: -12px -24px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-mr,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-mr,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-mr { background-position: -15px -24px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-mc,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-mc,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-mc { background-position: 0 -3240px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-bl,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-bl,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-bl { background-position: -12px -3px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-br,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-br,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-br { background-position: -15px -3px; }
.x-toolbar .x-btn-noicon.x-btn-click .x-btn-bc,
.x-toolbar .x-btn-noicon.x-btn-menu-active .x-btn-bc,
.x-toolbar .x-btn-noicon.x-btn-pressed .x-btn-bc { background-position: 0 -21px; }

.save-drawings-form form {
	padding-top: 10px;
}

.snapping-icon {
	background-image: url('../images/toolbar/snapping.png')!important;
	background: no-repeat;
}
.select-mode-icon {
	background-image: url('../images/toolbar/select_mode.png')!important;
	background: no-repeat;
}

div.theme-layers {
	background-color: #fff;
	border: 1px solid #c1c1c1;
	padding-top: 6px;
	padding-bottom: 20px;
	overflow-y: auto;
}

label.layer-group {
	font-weight: bold !important;
}

.x-tool-expand-east {
	background-position: 0 -165px;
	margin: 6px 0px 0px 0px;
}
.x-tool-collapse-east {
	background-position: 0 -180px;
}

.x-layout-collapsed-east {
	background-color: #F0F0F0 !important;
	border: none;
	width: 15px;
}

.theme-detail-panel .x-panel-body {
	background-color: #f0f0f0;
	padding: 4px;
}
