[Unit]
Description=GIS.lab HTTP boot
Requires=gislab-http-boot.socket
After=network.target

[Service]
PIDFile=/run/gislab-http-boot/pid
ExecStart=/bin/bash -c "PYTHONPATH={{ root_dir_boot }}/http gunicorn --name gislab-http-boot --user www-data --group www-data --workers 1 --log-syslog --log-level error --pid /run/gislab-http-boot/pid gislab-http-boot:application"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
