<?xml version='1.0' encoding='utf-8'?>
<widget id="io.gislab.mobile" version="{{ GISLAB_VERSION }}" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GIS.lab Mobile</name>
    <project name="GIS.lab Mobile" />
    <description>
        GIS.lab Mobile client.
    </description>
    <author email="dancakm@gmail.com">
        Marcel Dancák
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <preference name="Fullscreen" value="true" />
    <preference name="KeepRunning" value="true"/>
    <preference name="SplashScreen" value="screen" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="8000" />
</widget>
