#!/bin/bash

export PATH=$PATH:{{ android_root }}/tools:{{ android_root }}/platform-tools:{{ nodejs_root }}/bin
export ANDROID_HOME={{ android_root }}
export ANDROID_BUILD=ant

BUILDSTAMP=$(date +%s)
BUILDSTAMP_FILE=/build/gislab_mobile.buildstamp


cd {{ gislab_mobile_root }}

cordova platform add android
node tasks/plugins.js # install Cordova plugins required by GIS.lab Mobile

# build
cordova build android
echo "$BUILDSTAMP" > $BUILDSTAMP_FILE


# vim: set ts=8 sts=4 sw=4 et:
