[defaults]
host_key_checking=False
record_host_keys=True

# required for PostgreSQL connections as postgres user
# see https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user
allow_world_readable_tmpfiles = True

filter_plugins = system/filter_plugins
