#dpiDetection {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
}

.olControlNoSelect {
	background-color:rgba(200, 200, 200, 0.3);
}

.legend-item .x-form-item {
	display:none;
}

.olControlPanPanel div {
	background-image: url("images/tool-sprites.gif") !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomToMaxExtentItemInactive {
	display:none;
}

.olControlPanPanel .olControlPanNorthItemInactive {
	background-position: 15px -60px !important;
	left: 16px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive {
	background-position: 15px -75px !important;
	left: 16px !important;
	top: 32px !important;
}

.olControlPanPanel .olControlPanWestItemInactive {
	background-position: 15px -105px !important;
	left: 2px !important;
	top: 16px !important;
}

.olControlPanPanel .olControlPanEastItemInactive {
	background-position: 15px -120px !important;
	left: 30px !important;
	top: 16px !important;
}

.olControlZoomPanel div {
	background-image: url("images/tool-sprites.gif") !important;
	font-size: 0 !important;
	height: 15px !important;
	width: 15px !important;
}

.olControlZoomPanel .olControlZoomInItemInactive {
	background-position: 15px -240px !important;
	left: 7px !important;
	top: -5px !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
	background-position: 15px -255px !important;
	left: 7px !important;
	top: 168px !important;
}

.x-panel-header {
	color: #333;
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.x-panel-body-text {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 11px;
}

.featureinfo-icon {
	background-image: url('images/toolbar/information.png')!important;
	background: no-repeat;
}

.home-icon {
	background-image: url('images/toolbar/home.png')!important;
	background: no-repeat;
}

.pan-icon {
	background-image: url('images/toolbar/pan.png')!important;
	background: no-repeat;
}

.zoom-in-icon {
	background-image: url('images/toolbar/zoom_in.png')!important;
	background: no-repeat;
}

.zoom-out-icon {
	background-image: url('images/toolbar/zoom_out.png')!important;
	background: no-repeat;
}

.zoom-max-extent-icon {
	background-image: url('images/toolbar/arrow_out.png')!important;
	background: no-repeat;
}

.previous-icon {
	background-image: url('images/toolbar/arrow_left.png')!important;
	background: no-repeat;
}

.next-icon {
	background-image: url('images/toolbar/arrow_right.png')!important;
	background: no-repeat;
}

.length-measure-icon {
	background-image: url('images/toolbar/ruler.png')!important;
	background: no-repeat;
}

.area-measure-icon {
	background-image: url('images/toolbar/ruler_square.png')!important;
	background: no-repeat;
}

.draw-point-icon {
	background-image: url('images/toolbar/point.png')!important;
	background: no-repeat;
}

.draw-line-icon {
	background-image: url('images/toolbar/line.png')!important;
	background: no-repeat;
}

.draw-polygon-icon {
	background-image: url('images/toolbar/polygon.png')!important;
	background: no-repeat;
}

.save-icon {
	background-image: url('images/toolbar/save.png')!important;
	background: no-repeat;
}

.save-history-icon {
	background-image: url('images/toolbar/save_history.png')!important;
	background: no-repeat;
}

.print-icon {
	background-image: url('images/toolbar/print.png')!important;
	background: no-repeat;
}

.search-icon {
	background-image: url('images/toolbar/search.png')!important;
	background: no-repeat;
}

.add-icon {
	background-image: url('images/tool-sprites.gif')!important;
	background-position: -15px -240px !important;
	width: 15px !important;
	height: 15px !important;
	background: no-repeat;
}

.remove-icon {
	background-image: url('images/tool-sprites.gif')!important;
	background-position: -15px 0px !important;
	width: 15px !important;
	height: 15px !important;
	background: no-repeat;
}

.search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-tc, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-mc, .search-control-buttons .x-btn-bl, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-bc {
	background-image: none;
}

.search-control-buttons .x-btn-mr, .search-control-buttons .x-btn-ml, .search-control-buttons .x-btn-tr, .search-control-buttons .x-btn-br, .search-control-buttons .x-btn-tl, .search-control-buttons .x-btn-bl {
	background-image: none;
	display: none;
}

.search-control-buttons {
	padding: 2px;
}

.x-grid-cell-inner, .x-selectable {
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
	-webkit-user-select: text !important;
}

.x-combo-list-item {
	font: 11px arial,tahoma,helvetica,sans-serif;
}

.layers-legend-toolbar .x-form-text {
	font: 11px arial,tahoma,helvetica,sans-serif;
}

.layer-category-item {
	background-color: rgba(200, 200, 200, 0.3);
	font-weight: bold;
}

.layer-unavailable-item {
	color: gray;
}

.list-item-indent-1 {
	padding-left: 8px;
}
.list-item-indent-2 {
	padding-left: 16px;
}
.list-item-indent-3 {
	padding-left: 24px;
}
.list-item-indent-4 {
	padding-left: 32px;
}
.list-item-indent-5 {
	padding-left: 40px;
}
.list-item-indent-6 {
	padding-left: 48px;
}
.list-item-indent-7 {
	padding-left: 56px;
}
.list-item-indent-8 {
	padding-left: 64px;
}

.layers-legend-toolbar .x-toolbar {
	background-image: none;
	background-color: white;
}

.layers-legend-toolbar .x-tree-root-ct {
	margin-left: -15px;
}

.layers-legend-toolbar .x-toolbar {
	border-top-color: #FFFFFF;
}
.layers-legend-toolbar .x-panel-body {
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.x-tree-no-lines .x-tree-elbow-end-plus {
	background-image: none;
}
.x-tree-no-lines .x-tree-elbow-end-minus {
	background-image: none;
}

.x-tree-node-expanded .x-tree-node-icon, .x-tree-node-collapsed .x-tree-node-icon {
	background-image: none;
	width: 0px;
	height: 0px;
}

.x-tree-node-expanded, .x-tree-node-collapsed {
	font-weight: bold;
	background-color: rgba(200, 200, 200, 0.3);
}

.x-tree-node span.x-tree-node-indent {
	background-color: #FFFFFF;
	display: inline-block;
	height: 18px;
}

.overlays-root .x-tree-elbow-end-minus, .overlays-root .x-tree-elbow-end-plus {
	background-image: none;
}

div.overlays-root {
	display: none;
}

label.layers-title {
	font-weight: bold;
}

.legend-item img {
	display: block;
}

img.zoom-to-feature {
	background-image: url('images/toolbar/search.png')!important;
	background: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

img.export-feature {
	background-image: url('images/toolbar/arrow_up.png')!important;
	background: no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 4px;
}
