# Ignored Serf messages (see GH #363)
:msg, contains, "memberlist: Initiating push/pull sync" ~
:msg, contains, "memberlist: Responding to push/pull sync" ~

# Ignore Ansible messages
:syslogtag, contains, "ansible-" ~


*.*;kern.none			-/storage/log/syslog
kern.*				-/storage/log/kern.log
*.emerg				:omusrmsg:*
