# Ignored Serf messages (see GH #363)
:msg, contains, "memberlist: Initiating push/pull sync" ~
:msg, contains, "memberlist: Responding to push/pull sync" ~

# Ignore Ansible messages
:syslogtag, contains, "ansible-" ~


auth,authpriv.*			/var/log/auth.log
*.*;auth,authpriv,local7.none	-/var/log/syslog
kern.*				-/var/log/kern.log
news.crit			/var/log/news/news.crit
news.err			/var/log/news/news.err
news.notice			-/var/log/news/news.notice
*.emerg				:omusrmsg:*

daemon.*;mail.*;\
	news.err;\
	*.=debug;*.=info;\
	*.=notice;*.=warn	|/dev/xconsole

{% if not GISLAB_DEBUG_SERVICES %}
local0.err			/var/log/syslog  # accept only 'error' level messages
local7.*			/var/log/syslog  # accept all messages
{% else %}
local0.*			/var/log/syslog
local7.*			/var/log/syslog
{% endif %}
