{% extends "bootstrap_base.html" %}{% load i18n staticfiles %}

{% block extrahead %}
	<style type="text/css">
		a, a:visited {
			color: #3465a4;
		}
		a:hover {
			color: #204a87;
		}
		hr {
			margin: 15px 0;
		}
		[class^="icon-"], [class*=" icon-"] {
			vertical-align: baseline;
		}
		#wrapper {
			display: none;
			text-align: center;
			position: relative;
		}
		#top-spacer {
			height: 15%;
		}
		#login-form {
			position: relative;
			padding-top: 30px;
			padding-bottom: 5px;
			width: 400px;
			margin-top: 0em;
			margin-left: 50%;
			left: -221px;
			text-align: left;
		}
		.btn-tango-blue {
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			background-color: #729fcf;
			*background-color: #3465a4;
			background-image: -moz-linear-gradient(top, #729fcf, #3465a4);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#729fcf), to(#3465a4));
			background-image: -webkit-linear-gradient(top, #729fcf, #3465a4);
			background-image: -o-linear-gradient(top, #729fcf, #3465a4);
			background-image: linear-gradient(to bottom, #729fcf, #3465a4);
			background-repeat: repeat-x;
			border-color: #3465a4 #3465a4 #204a87;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff729fcf', endColorstr='#ff3465a4', GradientType=0);
			filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		}
		.btn-tango-blue:hover,
		.btn-tango-blue:focus,
		.btn-tango-blue:active,
		.btn-tango-blue.active,
		.btn-tango-blue.disabled,
		.btn-tango-blue[disabled] {
			background-color: #3465a4;
			color: #FFFFFF;
		}
		ul.errorlist {
			color: #B94A48;
		}
		img.logo {
			margin-bottom: 2em;
		}
	</style>
{% endblock extrahead %}

{% block body %}
<div id="wrapper" class="container">
	<div id="top-spacer"></div>

	{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
	<div class="alert alert-error">
		<p class="errornote">
			{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
		</p>
	{% if form.non_field_errors or form.this_is_the_login_form.errors %}
		{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
		<p class="errornote">{{ error }}</p>
		{% endfor %}
	{% endif %}
	</div>
	{% endif %}

	<div id="login-form" class="well">
		<form action="" method="post" class="form-horizontal">{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="id_username">{% trans "Username" %}:</label>
				<div class="controls">
					<input type="text" name="username" id="id_username" tabindex="1" >{% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="id_password">{% trans "Password" %}:</label>
				<div class="controls">
					<input type="password" name="password" id="id_password" tabindex="2" >
					{% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
					<input type="hidden" name="this_is_the_login_form" value="1" />
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-tango-blue" tabindex="3">{% trans "Log in" %}</button>
				</div>
			</div>
		</form>
	</div>

	<footer>© 2013-2014 | <a href="http://imincik.github.io/gis-lab/" target="_blank">About GIS.lab</a></footer>
</div>
{% endblock body %}

{% block footerjs %}
<script>
Ext.QuickTips.init();
Ext.onReady(function() {
	var wrapper = Ext.get('wrapper');
	wrapper.setHeight(Ext.getBody().getViewSize().height);
	Ext.EventManager.onWindowResize(function () {
		wrapper.setHeight(Ext.getBody().getViewSize().height);
	});
	wrapper.show();
	Ext.get('id_username').focus();
});
</script>
{% endblock footerjs %}
