global
   log 127.0.0.1 local0 warning
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option redispatch
    retries 3
    maxconn 2000
    timeout connect 5000
    timeout client 50000
    timeout server 50000

listen statistics.gis.lab
    bind *:1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /

listen server.gis.lab
    bind *:90
    mode http
    stats enable
    stats hide-version
    stats uri /haproxy?stats
    stats refresh 3s
    option httpchk GET /cgi-bin/qgis_mapserv.fcgi HTTP/1.1\r\nHost:\ server.gis.lab
    balance static-rr
    fullconn 150
    maxconn 1000
    default-server error-limit 1 on-error fail-check fall 1 inter 10s fastinter 5s downinter 120s rise 2 maxconn 100 maxqueue 25 minconn 25 weight 128
    server server 127.0.0.1:91 maxconn 0

    # automatically detected list of client workers is below
