dn: ou=People,dc=gis,dc=lab
objectClass: organizationalUnit
ou: people

dn: ou=Groups,dc=gis,dc=lab
objectClass: organizationalUnit
ou: groups

dn: ou=SUDOers,dc=gis,dc=lab
objectClass: top
objectClass: organizationalUnit
ou: SUDOers

dn: cn=defaults,ou=SUDOers,dc=gis,dc=lab
objectClass: top
objectClass: sudoRole
cn: defaults
description: Default sudoOption's go here
sudoOption: env_reset
sudoOption: secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:{{ GISLAB_ROOT }}/bin:"

dn: cn=%labadmins,ou=SUDOers,dc=gis,dc=lab
objectClass: top
objectClass: sudoRole
cn: %labadmins
sudoUser: %labadmins
sudoHost: ALL
sudoCommand: ALL
sudoOption: !authenticate

dn: ou=MailAliases,dc=gis,dc=lab
objectClass: organizationalUnit
ou: mailaliases

dn: cn=root,ou=MailAliases,dc=gis,dc=lab
objectclass: top
objectClass: virtualaccount
cn: root
mailacceptinggeneralid: root
maildrop: {{ GISLAB_PROVISIONING_USER }}

dn: cn=labadmins,ou=Groups,dc=gis,dc=lab
objectClass: posixGroup
cn: labadmins
gidNumber: 3000
description: GIS.lab Admins Group

dn: cn=labusers,ou=Groups,dc=gis,dc=lab
objectClass: posixGroup
cn: labusers
gidNumber: 3001
description: GIS.lab Users Group
