dn: cn=config
changetype: modify
delete: olcLogLevel


{% if not GISLAB_DEBUG_SERVICES %}
cn=config
changetype: modify
add: olcLogLevel
olcLogLevel: none

{% else %}
dn: cn=config
changetype: modify
add: olcLogLevel
olcLogLevel: stats
{% endif %}
