passwd: files ldap
group: files ldap
shadow: files ldap

hosts:          files myhostname dns
networks:       files
protocols:      db files
services:       db files
ethers:         db files
rpc:            db files

netgroup: nis
sudoers: files ldap
