[default]
LDM_SESSION=/usr/bin/startxfce4
CLIENT_ENV="DESKTOP_SESSION=xubuntu"
HOSTNAME_BASE=c
LDM_THEME=gislab
LTSP_FATCLIENT=True
LOCAL_APPS=False
#SCREEN_02=shell                          # get local root prompt when pressing Ctrl+Alt+F2 
SCREEN_07=ldm
NFS_HOME=/home
FSTAB_1="server.gis.lab:/storage/repository /mnt/repository nfs defaults 0 0"
FSTAB_2="server.gis.lab:/storage/share /mnt/share nfs defaults 0 0"
FSTAB_3="server.gis.lab:/storage/barrel /mnt/barrel nfs defaults 0 0"
FSTAB_4="tmpfs /mnt/booster tmpfs defaults,noatime,noexec,size=10% 0 0"

{% if GISLAB_CLIENT_NETWORK_STORAGE|default(None) != None %}
FSTAB_5="{{ GISLAB_CLIENT_NETWORK_STORAGE }}"
{% endif %}
