<md-bottom-sheet class="features-panel">
	<div class="panel-close-button">
		<!-- <md-button ng-click="$mdBottomSheet.hide()"> -->
			<!-- <md-icon md-svg-icon="circle-x-outline"></md-icon> -->
		<!-- </md-button> -->
	</div>
	<md-tabs md-no-ink ng-if="featuresCategories" layout-fill>
		<md-tab ng-repeat="category in featuresCategories" ng-init="setFeaturesLayer(featuresCategories[0].layer)"
			md-on-select="setFeaturesLayer(category.layer)">
			<md-tab-label><span>{{ category.layer }}</span></md-tab-label>
			<md-tab-body layout-fill>
				<!-- <md-data-table-pagination class="top" md-row-select="null" md-limit="5" md-page="page" md-total="{{ category.features.length }}"></md-data-table-pagination> -->
				<md-data-table-container ng-init="page=1">
					<table md-data-table ng-init="properties=getFeatureProperties(category.features[0])">
						<thead>
							<tr>
								<th ng-repeat="property in properties" name="{{ ::property.label }}"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="feature in category.features | limitTo: 5: (page - 1) * 5" ng-click="selectFeature(feature)" ng-class="{'md-selected': selectedFeature === feature}">
								<td ng-repeat="property in properties">{{ ::feature.get(property.key) }}</td>
							</tr>
						</tbody>
					</table>
				</md-data-table-container>
				<md-data-table-pagination md-row-select="null" md-limit="5" md-page="page" md-total="{{ category.features.length }}"></md-data-table-pagination>
			</md-tab-body>
		<md-tab>
	</md-tabs>
	<div class="md-subheader">
		<span>NO RESULTS<span>
	</div>
</md-bottom-sheet>