###### Ubuntu repositories
deb {{ GISLAB_APT_MIRROR }} {{ ansible_distribution_release }} main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main universe multiverse

deb {{ GISLAB_APT_MIRROR }} {{ ansible_distribution_release }}-updates main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main universe multiverse

deb {{ GISLAB_APT_MIRROR }} {{ ansible_distribution_release }}-security main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main universe multiverse

###### Ubuntu partner repository
deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner

###### UbuntuGIS repository
deb http://ppa.launchpad.net/ubuntugis/ubuntugis-unstable/ubuntu {{ ansible_distribution_release }} main

#### JOSM repository
#### Disabled, see https://github.com/gislab-npo/gislab/issues/501
# deb http://josm.openstreetmap.de/apt {{ ansible_distribution_release }} universe

{% if GISLAB_APT_CUSTOM_REPOSITORIES %}
#### Custom repositories
{% for repository in GISLAB_APT_CUSTOM_REPOSITORIES %}
deb {{ repository }}
{% endfor %}
{% endif %}
