###### Ubuntu repositories
deb {{ apt_mirror.stdout }} {{ ansible_distribution_release }} main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main universe multiverse

deb {{ apt_mirror.stdout }} {{ ansible_distribution_release }}-updates main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main universe multiverse

deb {{ apt_mirror.stdout }} {{ ansible_distribution_release }}-security main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main universe multiverse

###### Ubuntu partner repository
deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner

#### GIS.lab packages repository
deb http://ppa.launchpad.net/gislab-npo/production/ubuntu {{ ansible_distribution_release }} main

#### JOSM repository
deb http://josm.openstreetmap.de/apt {{ ansible_distribution_release }} universe

{% if GISLAB_APT_CUSTOM_REPOSITORIES %}
#### Custom repositories
{% for repository in GISLAB_APT_CUSTOM_REPOSITORIES %}
deb {{ repository }}
{% endfor %}
{% endif %}


