###### Ubuntu repositories
deb {{ GISLAB_APT_MIRROR }} {{ ansible_distribution_release }} main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main universe multiverse

deb {{ GISLAB_APT_MIRROR }} {{ ansible_distribution_release }}-updates main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-updates main universe multiverse

deb {{ GISLAB_APT_MIRROR }} {{ ansible_distribution_release }}-security main universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main universe multiverse

###### Ubuntu partner repository
deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner

###### GIS.lab repository
deb http://ppa.launchpad.net/gislab-npo/production/ubuntu {{ ansible_distribution_release }} main

{% if GISLAB_APT_CUSTOM_REPOSITORIES %}
#### Custom repositories
{% for repository in GISLAB_APT_CUSTOM_REPOSITORIES %}
deb {{ repository }}
{% endfor %}
{% endif %}
