{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="gl.web">
<head>
	<meta charset="utf-8">

	<title>GIS.lab web client</title>

	<!-- <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static "core/lib/ol.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "web/bower_components/angular-material/angular-material.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "web/bower_components/angular-ui-layout/ui-layout.css" %}"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" type="text/css" href="{% static "web/styles/gislab/ui.css" %}">

	<!-- Before body closing tag -->
	<!-- 
	<script src="{% static "web/bower_components/jquery/dist/jquery.js" %}"></script>
	<script src="{% static "web/bower_components/moment/min/moment-with-locales.js" %}"></script> -->
	<script src="{% static "web/bower_components/velocity/velocity.js" %}"></script>

	<script src="{% static "web/bower_components/angular/angular.js" %}"></script>
	<script src="{% static "web/bower_components/angular-animate/angular-animate.js" %}"></script>
	<!-- <script src="{% static "web/bower_components/lumx/dist/lumx.js" %}"></script> -->
	<script src="{% static "web/bower_components/angular-material/angular-material.js" %}"></script>
	<script src="{% static "web/bower_components/angular-aria/angular-aria.js" %}"></script>
	<script type="text/javascript" src="{% static "web/bower_components/raf/index.js" %}"></script>
	<script type="text/javascript" src="{% static "web/bower_components/angular-ui-layout/ui-layout.js" %}"></script>

	<script type="text/javascript" src="{% static "core/lib/proj4.js" %}"></script>
	<script type="text/javascript" src="{% static "core/lib/md5.js" %}"></script>
	<script type="text/javascript" src="{% static "core/lib/ol.min.js" %}"></script>
	<!-- <script type="text/javascript" src="{% static "core/lib/ol.debug.js" %}"></script>-->

	<script type="text/javascript">
	// First, checks if it isn't implemented yet.
	if (!String.prototype.format) {
		String.prototype.format = function() {
			var args = arguments;
			return this.replace(/{(\d+)}/g, function(match, number) {
				return typeof args[number] != 'undefined'
					? args[number]
					: match
				;
			});
		};
	}
	</script>

	<script type="text/javascript" src="{% static "web/js/web.module.js" %}"></script>
	<script type="text/javascript" src="{% static "web/js/controllers/AppController.js" %}"></script>
	<script type="text/javascript" src="{% static "web/js/services/gislab-web-client.js" %}"></script>

	<script type="text/javascript" src="{% static "core/js/map/map.module.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/map/services/map-builder.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/map/services/project-provider.js" %}"></script>

	<script type="text/javascript" src="{% static "core/js/ui/ui.module.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/ui/controllers/AccordionController.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/ui/directives/tree.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/ui/directives/height-animation.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/ui/directives/accordion.js" %}"></script>

	<script type="text/javascript" src="{% static "core/js/utils/utils.module.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/utils/directives/gl-con-attr.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/utils/directives/gl-click.js" %}"></script>

	<script type="text/javascript" src="{% static "core/js/map-tools/layers-control/layers-control.module.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/map-tools/layers-control/layers-control.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/map-tools/layers-control/LayersController.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/map-tools/legend/legend.module.js" %}"></script>
	<script type="text/javascript" src="{% static "core/js/map-tools/legend/LegendController.js" %}"></script>

	<script type="text/javascript">
		angular.module('gl.web')
			.constant('projectPath', '{{ project }}')
			.constant('resourcesRoot', '{% static "web/" %}');
	</script>
</head>

<body ng-controller="AppController" class="no-scrollbar">

<div layout="column" layout-fill flex>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h3>GIS.lab Web <sub>Next Generation</sub></h3>
			<!-- fill up the space between left and right area -->
			<span flex></span>
			<h3><span>{{ title }}</span></h3>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="User">
				<md-icon md-svg-icon="user" style="color: #fff;"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<section layout="row" flex>
		<div ng-include="'{% static "web/panel.html" %}'" flex></div>
		<div id="map"></div>
	</section>
</div>
</body>
</html>
