PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games"

GISLAB_VERSION="{{ GISLAB_VERSION }}"
GISLAB_UNIQUE_ID="{{ GISLAB_UNIQUE_ID }}"

GISLAB_ROOT="{{ GISLAB_ROOT }}"

GISLAB_INSTALL_ACCOUNT_ROOT="{{ GISLAB_INSTALL_ACCOUNT_ROOT }}"
GISLAB_INSTALL_CLIENT_ROOT="{{ GISLAB_INSTALL_CLIENT_ROOT }}"
GISLAB_INSTALL_CLIENT_IMAGE="{{ GISLAB_INSTALL_CLIENT_IMAGE }}"
GISLAB_INSTALL_JOBS_ROOT="{{ GISLAB_INSTALL_JOBS_ROOT }}"
GISLAB_INSTALL_CLUSTER_ROOT="{{ GISLAB_INSTALL_CLUSTER_ROOT }}"
