<?xml version = '1.0' encoding = 'UTF-8'?>
<plugins>
    <pyqgis_plugin name="GIS.lab Web plugin" version="{{ gislab_web_qgis_version }}" plugin_id="1">
        <version>{{ gislab_web_qgis_version }}</version>
        <author_name><![CDATA[GIS.lab Web developers]]></author_name>
        <description><![CDATA[Publish your projects in GIS.lab Web.]]></description>
        <about></about>
        <qgis_minimum_version>2.2.99</qgis_minimum_version>
        <qgis_maximum_version>2.99.0</qgis_maximum_version>
        <homepage><![CDATA[http://web.gislab.io]]></homepage>
        <icon>/icon.png</icon>
        <uploaded_by><![CDATA[gislab]]></uploaded_by>
        <experimental>False</experimental>
        <deprecated>False</deprecated>
        <tracker><![CDATA[https://github.com/gislab-npo/gislab-web/issues]]></tracker>
        <repository><![CDATA[https://github.com/gislab-npo/gislab-web]]></repository>
        <tags><![CDATA[gis.lab,gislab]]></tags>
        <download_url>http://server.gis.lab/qgis/plugins/gislab_web.zip</download_url>
        <file_name>gislab_web.zip</file_name>
    </pyqgis_plugin>
</plugins>
