
.list__item.group {
	font-weight: bold;
	background-color: #eee;
	color: #555;
}

.gl-tree .toggle-button {
	float: left;
	margin-left: 5px;
	vertical-align: middle;
	line-height: 38px;
	font-size: 15px;
}

.gl-tree .toggle-button::before {
	content: "\f0fe"
}

.gl-tree .toggle-button.expanded::before {
	content: "\f146"
}

.gl-tree .indent {
	display: inline-block;
}

.gl-tree .list__item.leaf .radio-button__icon-checkmark,
.gl-tree .list__item.leaf .checkbox__icon-checkmark {
	padding-left: 6px;
}

.gl-tree .list__item.leaf .radio-button__icon-checkmark-fill {
	left: 1px;
}

.gl-tree .list__item.leaf .checkbox > input[type="checkbox"]:checked + .checkbox__icon-checkmark {
	padding-left: 8px;
}

.gl-tree .list__item.leaf[depth="1"] .radio-button__icon-checkmark-fill {
	left: -1px;
}

.gl-tree .list__item.leaf[depth="1"] .checkbox > input[type="checkbox"]:checked + .checkbox__icon-checkmark {
	padding-left: 4px;
}

.gl-tree .list__item.leaf[depth="1"] .radio-button__icon-checkmark,
.gl-tree .list__item.leaf[depth="1"] .checkbox__icon-checkmark {
	padding-left: 2px;
}

.gl-tree .list__item.group[depth="2"] .indent {
	margin-left: 18px;
}
.gl-tree .list__item.leaf[depth="2"] .indent {
	margin-left: 14px;
}

.gl-tree .list__item.group[depth="3"] .indent {
	margin-left: 36px;
}
.gl-tree .list__item.leaf[depth="3"] .indent {
	margin-left: 32px;
}

.gl-tree .list__item.group[depth="4"] .indent {
	margin-left: 54px;
}
.gl-tree .list__item.leaf[depth="4"] .indent {
	margin-left: 50px;
}

.gl-tree .list__item:last-child {
	border-bottom: 1px solid #ddd;
}

.gl-tree .list__item.group {
	padding-left: 0px;
}

/* animations */

.group-content {
	min-height: 0px!important;
	display: block!important;
	overflow: hidden;
	transition: 0s linear all;
	opacity: 1;
}
.group-content.height-anim {
	opacity: 0;
	height: 0px!important;
	display: none!important;
}

.group-content.height-anim-add, .group-content.height-anim-remove {
	/* this needs to be here to make it visible during the animation
	since the .ng-hide class is already on the element rendering
	it as hidden. */
	display: block!important;
}

.group-content.height-anim-add-active, .group-content.height-anim-remove {
	transition: 0.4s all ease-in-out;
}

.gl-tree .inline {
	display: inline-block;
	height: inherit!important;
}

