<LDAP>
	URL		ldapi://
	TLSEnable	yes
	Timeout		15
</LDAP>

<Authorization>
	BaseDN		"ou=People,dc=gis,dc=lab"
	SearchFilter	"uid=%u"
	RequireGroup	true

	<Group>
		BaseDN		"dc=gis,dc=lab"
		SearchFilter	"(cn=gislabusers)"
		MemberAttribute	"member"
	</Group>

</Authorization>
