# GIS.lab VPN configuration file.
# Replace <GIS.lab-SERVER-IP> with public IP address of GIS.lab server and run following command to connect:
# $ sudo openvpn --config ./{{ GISLAB_UNIQUE_ID }}-vpn.conf


client
remote <GIS.lab-SERVER-IP> 1194
auth-user-pass  # use 'auth-user-pass password.txt' to load password from file

dev tun
proto udp
resolv-retry infinite
nobind
user nobody
group nogroup
persist-key
persist-tun
mute-replay-warnings
ns-cert-type server
comp-lzo
explicit-exit-notify

ca {{ GISLAB_UNIQUE_ID }}-vpn_ca.crt
tls-auth {{ GISLAB_UNIQUE_ID }}-vpn_ta.key 1

verb 0
