# GIS.lab VPN configuration file.
# Replace <GIS.lab-SERVER-IP> with public IP address of GIS.lab server and run following command to connect:
# $ sudo openvpn --config client.conf

# Replace 'auth-user-pass' with 'auth-user-pass credentials.txt' to read username and password non-interactively from
# file. Credentials file format:
# <USERNAME>
# <PASSWORD>


client
remote <GIS.lab-SERVER-IP> 1194
auth-user-pass

dev tun
proto udp
resolv-retry infinite
nobind
user nobody
group nogroup
persist-key
persist-tun
mute-replay-warnings
ns-cert-type server
comp-lzo
explicit-exit-notify

ca gislab_vpn_ca.crt
tls-auth gislab_vpn_ta.key 1

verb 0
