port 1194
proto udp
dev tun

ca gislab_vpn_ca.crt
cert gislab_vpn_server.crt
key gislab_vpn_server.key
tls-auth gislab_vpn_ta.key 0
dh gislab_vpn_dh1024.pem
client-cert-not-required

mode server
tls-server
topology subnet

ifconfig 172.16.{{ GISLAB_NETWORK_AS_LIST[2] }}.1 255.255.255.0
ifconfig-pool 172.16.{{ GISLAB_NETWORK_AS_LIST[2] }}.50 172.16.{{ GISLAB_NETWORK_AS_LIST[2] }}.250 255.255.255.0

push "topology subnet"
push "route {{ GISLAB_NETWORK }}.0 255.255.255.0 172.16.{{ GISLAB_NETWORK_AS_LIST[2] }}.1"
push "dhcp-option DNS {{ GISLAB_NETWORK_SERVER_IP }}"
push "dhcp-option DOMAIN gis.lab"

plugin /usr/lib/openvpn/openvpn-auth-pam.so login

keepalive 10 120
comp-lzo
user nobody
group nogroup
persist-key
persist-tun

verb 0  # GISLAB_DEBUG: set this value to '3' for debug mode
