# variable DISPLAY enables Xvfb support for QGIS GetPrint requests

# variable MAX_CACHE_LAYERS is workaround for problem with projects containing more
# than 100 layers (fixed in QGIS 2.6)
<IfModule mod_fcgid.c>
  AddHandler    fcgid-script .fcgi
  FcgidConnectTimeout 20
  FcgidInitialEnv DISPLAY ":99"
  FcgidInitialEnv MAX_CACHE_LAYERS "200"
</IfModule>
