/storage/home               *(sec=krb5,rw,sync,no_subtree_check,no_root_squash)
/storage/repository         *(sec=krb5,rw,sync,no_subtree_check,no_root_squash)
/storage/barrel             *(sec=krb5,rw,sync,no_subtree_check,all_squash,insecure)
/storage/publish            *(sec=krb5,rw,sync,no_subtree_check,no_root_squash)
