/home                       *(rw,sync,no_subtree_check,no_root_squash)
/storage/repository         *(rw,sync,no_subtree_check,no_root_squash)
/storage/barrel             *(rw,sync,no_subtree_check,all_squash,insecure)
/storage/publish            *(rw,sync,no_subtree_check,no_root_squash)
