{{ GISLAB_PATH_HOME }}                *(rw,sync,no_subtree_check,no_root_squash)
{{ GISLAB_PATH_STORAGE }}/repository  *(rw,sync,no_subtree_check,no_root_squash)
{{ GISLAB_PATH_STORAGE }}/barrel      *(rw,sync,no_subtree_check,all_squash,insecure)
{{ GISLAB_PATH_STORAGE }}/publish     *(rw,sync,no_subtree_check,no_root_squash)
