description "GIS.lab network connection forwarding"

start on (net-device-up IFACE!=lo)
stop on runlevel [06]

pre-start script
    iptables --table nat --flush
    sysctl -w net.ipv4.ip_forward=1
    device=$(ip route | awk '/^default/ {print $5}')
    iptables --table nat --append POSTROUTING --source {{ GISLAB_NETWORK }}.0/24 ! --destination {{ GISLAB_NETWORK }}.0/24 --out-interface $device --jump MASQUERADE
end script

post-stop script
    iptables --table nat --flush
    sysctl -w net.ipv4.ip_forward=0
end script
