[Desktop Entry]
Version=1.0
Type=Application
Name=GIS.lab User Manual
Comment=GIS.lab user manual documentation
Exec=/usr/local/bin/gislab-documentation gislab/client-layout/index.html
Icon=
Path=
Terminal=false
Categories=Gislab-documentation;
StartupNotify=false
Name[sk]=Používateľský manuál GIS.lab
Comment[sk]=Používateľský manuál GIS.lab
