[Desktop Entry]
Version=1.0
Type=Application
Name=GRASS GIS User Manual
Comment=GRASS GIS user manual documentation
Exec=/usr/bin/firefox /usr/lib/grass84/docs/html/index.html
Icon=
Path=
Terminal=false
Categories=Gislab-documentation;
StartupNotify=false
