[Desktop Entry]
Version=1.0
Type=Application
Name=PostGIS User Manual
Comment=PostGIS shared database user manual documentation
Exec=/usr/bin/firefox /usr/share/doc/postgis-doc/postgis-en.html
Icon=
Path=
Terminal=false
Categories=Gislab-documentation;
StartupNotify=false
