# "host_name" parameter is dynamically added by worker install script

allow ^{{ GISLAB_NETWORK_SERVER_IP|replace(".", "\.") }}$
host *
port 4949
background 1
setsid 1
user root
group root
log_level 0
log_file /var/log/munin/munin-node.log
pid_file /var/run/munin/munin-node.pid
ignore_file ~$
ignore_file DEADJOE$
ignore_file \.bak$
ignore_file %$
ignore_file \.dpkg-(tmp|new|old|dist)$
ignore_file \.rpm(save|new)$
ignore_file \.pod$
