#!/bin/bash
#
# Add GIS.lab network IP address.

if [ "$IFACE" = "{{ GISLAB_SERVER_NETWORK_DEVICE }}" ]; then
	ip addr add {{ GISLAB_NETWORK_SERVER_IP }}/24 dev {{ GISLAB_SERVER_NETWORK_DEVICE }} 2> /dev/null || true
fi
