#!/bin/bash
#
# Activate GIS.lab network server IP address


set -e

if [ "$IFACE" = "{{ GISLAB_NETWORK_DEVICE }}" ]; then
	ip addr add {{ GISLAB_NETWORK_SERVER_IP }}/24 dev {{ GISLAB_NETWORK_DEVICE }}
fi
