#!/bin/bash
#
# Add GIS.lab network IP address. Must be executed before all other scripts
# placed to '/etc/network/if-up.d' directory.


if [ "$IFACE" = "{{ GISLAB_SERVER_NETWORK_DEVICE }}" ]; then
	ip addr add {{ GISLAB_NETWORK_SERVER_IP }}/24 dev {{ GISLAB_SERVER_NETWORK_DEVICE }} 2> /dev/null || true
fi

# vim: set ts=4 sts=4 sw=4 noet:
