PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:{{ GISLAB_ROOT }}/bin
MAILTO=root

15 0	* * *  www-data  nice /usr/local/python-virtualenvs/gislab-web/bin/python /var/www/gislab-web/manage.py mapcache_clean > /dev/null
