PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:{{ GISLAB_ROOT }}/admin
MAILTO=root

15 0	* * *  www-data  nice {{ GISLAB_INSTALL_CLIENTS_ROOT }}/web/virtualenv/gislab-web/bin/python {{ GISLAB_INSTALL_CLIENTS_ROOT }}/web/manage.py mapcache_clean > /dev/null
