<plugins>
	<pyqgis_plugin name="GIS.lab Web plugin" version="{{ GISLAB_VERSION }}" plugin_id="1">
		<description><![CDATA[Publish your projects in GIS.lab Web.]]></description>
		<about></about>
		<version>{{ GISLAB_VERSION }}</version>
		<qgis_minimum_version>2.2.99</qgis_minimum_version>
		<qgis_maximum_version>2.99.0</qgis_maximum_version>
		<homepage><![CDATA[http://imincik.github.io/gis-lab]]></homepage>
		<file_name>gislab_web.zip</file_name>
		<icon>/icon.png</icon>
		<author_name><![CDATA[Marcel Dancak]]></author_name>
		<download_url>http://qgis.gis.lab/gislab_web.zip</download_url>
		<uploaded_by><![CDATA[gislab]]></uploaded_by>
		<experimental>False</experimental>
		<deprecated>False</deprecated>
		<tracker><![CDATA[https://github.com/imincik/gis-lab/issues]]></ttracker>
		<repository><![CDATA[https://github.com/imincik/gis-lab]]></repository>
		<tags><![CDATA[gis.lab,gislab]]></tags>
	</pyqgis_plugin>
</plugins>
