description "Internet connection forwarding"

start on (net-device-up IFACE!=lo)
stop on runlevel [06]

script
iptables --table nat --flush
sysctl -w net.ipv4.ip_forward=1
iptables --table nat --append POSTROUTING --jump MASQUERADE --source {{ GISLAB_NETWORK }}.0/24
end script
