md-toolbar {
	min-height: 36px;
}
.md-toolbar-tools {
	max-height: 36px;
}
.md-toolbar-tools h3 {
	font-size: 17px;
}
.md-toolbar-tools .md-icon-button md-icon {
	width: 20px;
	height: 20px;
}

md-tabs-canvas, md-pagination-wrapper {
	height: 38px;
}
.md-tab {
	line-height: 18px;
}

md-tabs-content-wrapper {
	top: 38px;
}

md-backdrop {
	display: none;
}
md-sidenav {
	border-right: 1px solid #ccc;
	height: 100%;
}
md-sidenav.md-locked-open {
	max-width: 270px;
	min-width: 270px;
}

/* fix of tabs labels width */
md-tab-item {
  max-width:none !important;
}

md-list-item > md-radio-button,
md-list-item .md-list-item-inner > md-checkbox {
	margin: 0;
	padding-bottom: 0px;
	height: 26px;
	line-height: 26px;
}

md-list-item .md-list-item-inner > md-checkbox:first-child {
	margin-left: 0px;
	margin-right: 5px;
}

.gl-tree md-list-item,
.gl-tree md-list-item.md-no-proxy {
    padding: 0 5px;
}
.gl-tree md-list-item .md-no-style {
	padding: 0;
}

md-list-item .md-list-item-inner > md-icon:first-child {
    margin-right: 0px;
}

md-list-item .md-button.md-icon-button {
	right: 0;
	width: 26px;
	height: 26px;
	min-height: 26px;
	line-height: 26px;
	margin: 0;
}
md-list-item.radio-button-item .md-button.md-icon-button {
	line-height: 38px;
}

md-list-item .toggle-button {
	max-width: 28px;
	min-width: 28px;
	min-height: 26px;
	max-height: 26px;
	line-height: 26px;
	margin: 0;
	padding: 0;
	margin-left: -9px;
}

.toggle-button md-icon {
	width: 12px;
	height: 12px;
}
md-icon.md-secondary,
.md-secondary-container md-icon {
	width: 12px;
	height: 12px;
}
.layer-metadata-icon {
	width: 16px;
	height: 16px;
}

.gl-tree-group > md-list-item {
	font-weight: bold;
}

md-list-item, md-list-item .md-list-item-inner {
	min-height: 26px;
	max-height: 26px;
}
md-list-item p {
	font-size: 13px;
}
.gl-tree-leaf[depth="1"] .layer-metadata {
	padding-left: 18px;
}

.gl-tree-group[depth="2"] md-list-item .indent, .gl-tree-leaf[depth="2"] md-list-item .indent {
	padding-left: 19px;
}
.gl-tree-leaf[depth="2"] .layer-metadata {
	padding-left: 34px;
}

.gl-tree-group[depth="3"] md-list-item .indent, .gl-tree-leaf[depth="3"] md-list-item .indent {
	padding-left: 40px;
}

.gl-tree-leaf[depth="3"] .layer-metadata {
	margin-left: 55px;
}

.layer-metadata {
	font-size: 12px;
	color: #444;
	line-height: 18px;
	vertical-align: top;
}

.layer-metadata label {
	font-weight: bold;
	line-height: 18px;
	vertical-align: top;
}

.gl-tree-leaf.expanded md-list-item {
	background-color: #ccc;
}
.gl-tree-leaf.expanded .layer-metadata {
	background-color: #ddd;
}

button::-moz-focus-inner {
	border: 0;
}

#map {
	width: 100%;
	height: 100%;
}

.legend-container {
	height: auto;
}
img.legend-item {
	display: block;
}

.ui-splitbar {
	background-color: rgb(57, 73, 171);
	box-sizing: border-box;
	max-height: 6px;
	border: 2px solid white;
}
.md-subheader .md-subheader-inner {
    display: block;
    padding: 2px 0 12px 5px;
}

.no-scrollbar {
	overflow: hidden;
}

.md-subheader, .md-tab {
	font-size: 13px;
}
.md-tab {
	padding: 12px 12px;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
	color: #aaa;
}

.md-subheader.md-default-theme, .md-subheader,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) {
	color: rgb(57, 73, 171);
}