group {

  # always enabled MAC address (doesn't exist in real world)
  # be careful, only one machine with the same MAC can exist in one network, otherwise network breakage will occur !
  host 020000000000 { hardware ethernet 02:00:00:00:00:00; }

  # MAC addresses added by 'gislab-machines'

}
