SERVER="ldapi:///"
SUFFIX="dc=gis,dc=lab"
GSUFFIX="ou=groups"
USUFFIX="ou=people"
SASLAUTH=""
BINDDN="cn=admin,dc=gis,dc=lab"
BINDPWDFILE="/etc/ldapscripts/ldapscripts.passwd"
GIDSTART="3000"
UIDSTART="3000"
GCLASS="posixGroup"
CREATEHOMES="no"
UHOMES="/mnt/home/%u"
HOMESKEL="{{ GISLAB_INSTALL_ACCOUNT_ROOT }}/skel"
HOMEPERMS="700"
PASSWORDGEN="pwgen"
RECORDPASSWORDS="no"
PASSWORDFILE="/var/log/ldapscripts_passwd.log"
LOGFILE="/var/log/ldapscripts.log"
TMPDIR="/tmp"
LDAPSEARCHBIN="/usr/bin/ldapsearch"
LDAPADDBIN="/usr/bin/ldapadd"
LDAPDELETEBIN="/usr/bin/ldapdelete"
LDAPMODIFYBIN="/usr/bin/ldapmodify"
LDAPMODRDNBIN="/usr/bin/ldapmodrdn"
LDAPPASSWDBIN="/usr/bin/ldappasswd"
GETENTPWCMD=""
GETENTGRCMD=""
GTEMPLATE="/etc/ldapscripts/addgroup.template"
UTEMPLATE="/etc/ldapscripts/adduser.template"
MTEMPLATE=""
