{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link rel="icon" type="image/png" href="{% static 'viewer/images/gislab-web-16.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/lib/ext-3.4.1/resources/css/ext-all.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/lib/ext-3.4.1/resources/css/xtheme-gray.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/css/webgis.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/css/user.css' %}"/>

		{% if debug %}
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/adapter/ext/ext-base-debug.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/ext-all-debug.js' %}"></script>
		{% else %}
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/adapter/ext/ext-base.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/ext-all.js' %}"></script>
		{% endif %}
		<script type="text/javascript" src="{% static 'viewer/js/draw_action.js' %}"></script>
		{% if LANGUAGE_CODE and LANGUAGE_CODE != 'en-us' %}
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/locale/ext-lang-' %}{{ LANGUAGE_CODE }}.js"></script>
		{% endif %}

		<title id="page-title">{% trans "GIS.lab User Page" %}</title>

		{% comment %} ##  CONFIGURATION  ## {% endcomment %}
		<script type="text/javascript">
			function main() {

				var projects_tab = {
					xtype: 'grid',
					title: '{% trans "Projects" %}',
					viewConfig: {
						forceFit: true,
						templates: {
							cell: new Ext.Template(
								'<td class="x-grid3-col x-grid3-cell x-grid3-td-{id} x-selectable {css}" style="{style}" tabIndex="0" {cellAttr}>\
									<div class="x-grid3-cell-inner x-grid3-col-{id}" {attr}>{value}</div>\
								</td>'
							)
						}
					},
					cm: new Ext.grid.ColumnModel({
						defaults: {
							sortable: true,
						},
						columns: [{
								id: 'title',
								header: '{% trans "Title" %}',
								dataIndex: 'title',
								width: 200,
								renderer: function(value, meta, record, rowIndex, colIndex, store) {
									return String.format('<a target="_blank" href="{0}">{1}</a>', record.get('url'), value);
								}
							}, {
								id: 'publication_time',
								header: '{% trans "Publication time" %}',
								dataIndex: 'publication_time',
								renderer : Ext.util.Format.dateRenderer('H:i:s d.m.Y'),
								width: 120,
								fixed: true,
							}, {
								id: 'expiration_time',
								header: '{% trans "Expiration time" %}',
								renderer : Ext.util.Format.dateRenderer('d.m.Y'),
								width: 120,
								fixed: true,
							}, {
								id: 'authentication',
								header: '{% trans "Authentication" %}',
								dataIndex: 'authentication',
								width: 100
							}, {
								id: 'url',
								header: '{% trans "URL" %}',
								dataIndex: 'url',
								sortable: false,
								menuDisabled: true,
								width: 400,
								renderer: function(value, meta, record, rowIndex, colIndex, store) {
									return String.format('<a href="{0}" target="_blank">{1}</a>', value, decodeURIComponent(value));
								}
						}, {
								id: 'wms_url',
								header: '{% trans "WMS URL" %}',
								dataIndex: 'wms_url',
								sortable: false,
								menuDisabled: true,
								width: 400,
								renderer: function(value, meta, record, rowIndex, colIndex, store) {
									return String.format('<a href="{0}" target="_blank">{1}</a>', value, decodeURIComponent(value));
								}
						}]
					}),
					store: new Ext.data.JsonStore({
						data: [
							{% for project_info in projects %}{
								project: '{{ project_info.project }}',
								title: '{{ project_info.title }}',
								{% if project_info.publication_time_unix %}publication_time: new Date({{ project_info.publication_time_unix }}*1000),{% endif %}
								authentication: '{{ project_info.authentication }}',
								url: '{{ project_info.url }}',
								{% if project_info.wms_url %}wms_url: '{{ project_info.wms_url }}',{% endif %}
								{% if project_info.expiration_time_unix %}expiration_time: new Date({{ project_info.expiration_time_unix }}*1000),{% endif %}
							},{% endfor %}
						],
						storeId: 'projects-store',
						fields: [{
								name: 'project',
								type: 'string'
							}, {
								name: 'title',
								type: 'string'
							}, {
								name: 'publication_time',
								type: 'date'
							}, {
								name: 'expiration_time',
								type: 'date'
							}, {
								name: 'authentication',
								type: 'string'
							}, {
								name: 'url',
								type: 'string'
							}, {
								name: 'wms_url',
								type: 'string'
						}]
					}),
				};

				var drawings_store = new Ext.data.JsonStore({
					fields: [
						{
							name: 'project',
							type: 'string',
						}, {
							name: 'time',
							type: 'date',
							convert: function(v) {
								return new Date(1000*parseInt(v));
							}
						}, {
							name: 'title',
							type: 'string'
						}, {
							name: 'permalink',
							type: 'string',
						}, {
							name: 'drawing',
							type: 'string',
						}, {
							name: 'statistics',
							type: 'string'
						},
					],
					proxy: new WebGIS.DrawingsHttpProxy({
						url: Ext.urlAppend('{% url "storage:drawing" %}', Ext.urlEncode({USER: '{{ user.username }}'})),
						user: '{{ user.username }}',
					}),
					totalProperty: 'count',
					root: 'drawings',
				});
				var drawings_tab = {
					xtype: 'grid',
					title: '{% trans "Drawings" %}',
					viewConfig: {
						forceFit: true,
						templates: {
							cell: new Ext.Template(
								'<td class="x-grid3-col x-grid3-cell x-grid3-td-{id} x-selectable {css}" style="{style}" tabIndex="0" {cellAttr}>\
									<div class="x-grid3-cell-inner x-grid3-col-{id}" {attr}>{value}</div>\
								</td>'
							)
						}
					},
					cm: new Ext.grid.ColumnModel({
						defaults: {
							sortable: false,
							menuDisabled: true,
						},
						columns: [{
								id: 'project',
								header: '{% trans "Project" %}',
								dataIndex: 'project',
								width: 150,
								sortable: true,
								renderer: function(value, meta, record, rowIndex, colIndex, store) {
									var index = projects_tab.store.find('project', value);
									if (index > -1) {
										var title = projects_tab.store.getAt(index).get('title');
										var url = projects_tab.store.getAt(index).get('url');
										return String.format('<a target="_blank" href="{0}">{1}</a>', url, title);
									}
									// project does not exists
									return '-';
								}
							}, {
								id: 'time',
								header: '{% trans "Time" %}',
								dataIndex: 'time',
								width: 85,
								renderer: Ext.util.Format.dateRenderer('H:i d/m/y'),
								sortable: true,
							}, {
								id: 'title',
								header: '{% trans "Title" %}',
								dataIndex: 'title',
								width: 200,
								sortable: true,
							}, {
								id: 'statistics',
								header: '{% trans "Statistics" %}',
								dataIndex: 'statistics',
								width: 85,
							}, {
								id: 'permalink',
								header: '{% trans "Permalink" %}',
								dataIndex: 'permalink',
								width: 85,
								renderer: function(value, meta, record, rowIndex, colIndex, store) {
									var index = projects_tab.store.find('project', record.get('project'));
									if (index > -1) {
										// use url from projects store and strip all GET parameters to create
										// secure (https) permalink
										var url = projects_tab.store.getAt(index).get('url').split("?")[0];
										url = Ext.urlAppend(url, value);
										return String.format('<a target="_blank" href="{0}">{1}</a>', url, Ext.urlDecode(value)['DRAWINGS']);
									}
									// project does not exists
									return '-';
								}
							}, {
								id: 'download',
								header: '{% trans "Download" %}',
								dataIndex: 'drawing',
								width: 60,
								renderer: function(value, meta, record, rowIndex, colIndex, store) {
									var link = Ext.urlAppend('{% url "storage:ball" %}', Ext.urlEncode({ID: value}));
									return String.format('<a target="_blank" href="{0}"><img class="x-tool-download" src="{1}" /></a>', link, Ext.BLANK_IMAGE_URL);
								}
						}]
					}),
					autoExpandColumn: 'title',
					store: drawings_store,
					stateful: true,
					stateId: 'grid',
					bbar: new Ext.PagingToolbar({
						store: drawings_store,
						pageSize: 50,
						displayInfo: true,
						displayMsg: '{% trans "Drawings {0} - {1} of {2}" %}',
						emptyMsg: '{% trans "No drawings" %}',
					}),
					listeners: {
						show: function(panel) {
							panel.getBottomToolbar().doRefresh();
						}
					}
				};

				var webgis = new Ext.Viewport({
					id: 'projects-viewer',
					layout: 'fit',
					items: [{
						xtype: 'panel',
						layout: "border",
						tbar: {
							xtype: 'toolbar',
							dock: 'top',
							layout: {
								type: 'hbox',
								pack: 'start',
							},
							cls: 'x-panel-header app-header',
							items: [{
									xtype: 'tbspacer',
									width: 120,
								}, {
									xtype: 'tbspacer',
									flex: 1
								}, {
									xtype: 'tbtext',
									text: '{% trans "GIS.lab User Page" %}',
									cls: 'app-title'
								}, {
									xtype: 'tbspacer',
									flex: 1
								},{% if user.is_guest %} {
									xtype: 'tbtext',
									text: '{% trans "Guest" %}'
								}, {
									xtype: 'tbspacer',
									width: 5
								}, new Ext.Action({
									cls: 'x-btn-icon',
									iconCls: 'login-icon',
									tooltip: '{% trans "Log in" %}',
									handler: function(action) {
										window.location.href = Ext.urlAppend('{% url "login" %}', Ext.urlEncode({next: window.location.href}));
									}
								}),{% else %} {
									xtype: 'tbtext',
									text: '{{ user.get_full_name }}'
								}, {
									xtype: 'tbspacer',
									width: 5
								}, new Ext.Action({
									cls: 'x-btn-icon',
									iconCls: 'logout-icon',
									tooltip: '{% trans "Log out" %}',
									handler: function(action) {
										window.location.href = Ext.urlAppend('{% url "logout" %}', Ext.urlEncode({next: window.location.href}));
									}
								}),
								{% endif %}
								{
									xtype: 'tbspacer',
									width: 5
								}
							],
							listeners: {
								// center application's title depending on the user name length
								afterLayout: function(toolbar) {
									var width = toolbar.get(4).getWidth()+25;
									if (toolbar.get(0).width != width) {
										toolbar.get(0).width = width;
										toolbar.doLayout();
									}
								}
							}
						},
						items: [{
							xtype: 'tabpanel',
							region: 'center',
							activeTab: 0,
							items: [projects_tab, drawings_tab]
						}]
					}]
				});
			}; // end of main function

			Ext.QuickTips.init();
			Ext.onReady(main);
		</script>
	</head>
	<body>
	</body>
</html>
