{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link rel="icon" type="image/png" href="{% static 'viewer/images/gislab-web-16.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/lib/ext-3.4.1/resources/css/ext-all.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/lib/ext-3.4.1/resources/css/xtheme-gray.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/lib/extensions/css/Spinner.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'viewer/css/webgis.css' %}"/>
		<style>
			#loading-mask {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 20000;
				background-color: #E0E0E0;
				color: #444444;
				text-align: center;
			}
			#loading-mask h1 {
				margin-top: 100px;
			}
		</style>
		<script type="text/javascript">
			/* Define bind() method for JavaScript functions when browser doesn't support it (Safari 5.0) */
			if (!Function.prototype.bind) {
				Function.prototype.bind = function (oThis) {
					if (typeof this !== "function") {
						// closest thing possible to the ECMAScript 5 internal IsCallable function
						throw new TypeError("Function.prototype.bind - what is trying to be bound is not callable");
					}
					var aArgs = Array.prototype.slice.call(arguments, 1),
						fToBind = this,
						fNOP = function () {},
						fBound = function () {
							return fToBind.apply(this instanceof fNOP && oThis
									               ? this
									              : oThis,
									             aArgs.concat(Array.prototype.slice.call(arguments)));
						};
					fNOP.prototype = this.prototype;
					fBound.prototype = new fNOP();
					return fBound;
				};
			}
		</script>

		<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
		{% if debug %}
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/adapter/ext/ext-base-debug.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/ext-all-debug.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/OpenLayers-2.13/OpenLayers.debug.js' %}"></script>
		{% else %}
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/adapter/ext/ext-base.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/ext-all.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/OpenLayers-2.13/OpenLayers.js' %}"></script>
		{% endif %}
		{% if LANGUAGE_CODE and LANGUAGE_CODE != 'en-us' %}
		<script type="text/javascript" src="{% static 'viewer/lib/OpenLayers-2.13/Lang/' %}{{ LANGUAGE_CODE }}.js"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/ext-3.4.1/locale/ext-lang-' %}{{ LANGUAGE_CODE }}.js"></script>
		{% endif %}
		<script type="text/javascript" src="{% static 'viewer/lib/md5.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/extensions/Spinner.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/extensions/SpinnerField.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/lib/GeoExt-1.1/GeoExt.js' %}"></script>

		<script type="text/javascript" src="{% static 'viewer/js/styles.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/baselayers_combo.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/wms_layers_node.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/wms_layers_legend.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/featureinfo_panel.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/search_action.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/measure_action.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/draw_action.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/topics_action.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/control_display.js' %}"></script>
		<script type="text/javascript" src="{% static 'viewer/js/link_list.js' %}"></script>
		{% if google %}<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>{% endif %}

		<title id="page-title">{{ root_title }}</title>
		
		{% comment %} ##  CONFIGURATION  ## {% endcomment %}
		<script type="text/javascript">
			/* Customization of OpenLayers.Map that will prefer OpenLayers.Map.maxExtent option
			   instead of OpenLayers.Map.baseLayer.maxExtent in OpenLayers.Map.getMaxExtent method,
			   otherwise OpenLayers.Map.zoomToExtent wouldn't work outside base layer's maxExtent.
			*/
			WebgisMap = OpenLayers.Class(OpenLayers.Map, {

				getMaxExtent: function (options) {
					var maxExtent = null;
					if(options && options.restricted && this.restrictedExtent){
						maxExtent = this.restrictedExtent;
					} else if (this.baseLayer != null) {
						maxExtent = this.maxExtent? this.maxExtent : this.baseLayer.maxExtent;
					}
					return maxExtent;
				}
			});

			WebgisTmsLayer = OpenLayers.Class(OpenLayers.Layer.TMS, {

				getURL: function (bounds) {
					bounds = this.adjustBounds(bounds);
					var res = this.getServerResolution();
					var x = Math.round((bounds.left - this.tileOrigin.lon) / (res * this.tileSize.w));
					var y = Math.round((bounds.bottom - this.tileOrigin.lat) / (res * this.tileSize.h));
					var z = this.getServerZoom();
					var path = this.layers_hash + "/" + z + "/" + x + "/" + y + "." + this.type;
					var url = this.url;
					if (OpenLayers.Util.isArray(url)) {
						url = this.selectUrl(path, url);
					}
					return url + path+'?'+Ext.urlEncode({PROJECT: this.project, LAYERS: this.layername});
				}
			});

			/* Workaround for zoom slider to work better with base layers with minZoomLevel/maxZoomLevel options set to
			   non-default values (Google Map layers with restricted scales). It should also provide better choosing of
			   zoom level (scale) when switching between base layers with different scales.
			*/
			Ext.override(GeoExt.ZoomSlider, {
				initZoomValues: function() {
					var layer = this.map.baseLayer;
					if (this.initialConfig.minValue === undefined) {
						this.minValue = 0;
					}
					if (this.initialConfig.maxValue === undefined) {
						this.maxValue = this.map.getNumZoomLevels() -1;
					}
					var value = this.map.getZoomForResolution(this.map.getResolution());
					this.updating = true;
					this.setValue(value>0? value-1 : value+1, false);
					this.setValue(value);
					this.updating = false;
					this.map.zoomTo(value);
				},
			});
			function main() {

				Ext.BLANK_IMAGE_URL = "{% static 'viewer/images/s.gif' %}";
				OpenLayers.DOTS_PER_INCH = {{ dpi }};
				OpenLayers.Lang.setCode("{{ LANGUAGE_CODE }}");

				WebgisStyles.featureinfo_style.styles['default'].defaultStyle.fillColor = '{{ selection_color }}';
				WebgisStyles.featureinfo_style.styles['default'].defaultStyle.strokeColor = '{{ selection_color }}';

				var config = {
					projection: "{{ projection.code }}",
					units: "{{ units }}",
					maxExtent: new OpenLayers.Bounds({{ project_extent|join:', '}}),
				};

				var mappanel_plugins = [];
				var layer = null;
				var drawings_param = null;
				var zoom_extent = new OpenLayers.Bounds({{ zoom_extent|join:', '}});
				{% if tile_resolutions %}config.tile_resolutions = {{ tile_resolutions }};{% endif %}

				{% if debug %}{% autoescape off %}console.log("CONFIG: {{ config|escapejs }}");{% endautoescape %}{% endif %}

				// ###  LAYERS  ###
				var maplayers = [];

				// overlay layers
				{% if layers %}
					{% if mapcache_url %}
				var overlays_group_layer = new WebgisTmsLayer(
					"OverlaysGroup",
					["{{ mapcache_url }}"],
					{
						project: '{{ project }}',
						layername: "", // layername will be updated by overlays tree node
						isBaseLayer: false,
						type: "png",
						gutter: 0,
						buffer: 0,
						serverResolutions: {{ tile_resolutions }},
						visibility: true,
						singleTile: false,
						maxExtent: config.maxExtent,
						displayOutsideMaxExtent: false,
						wmsLegendUrl: '{{ legend_url }}'
					}
				);
					{% else %}
				var overlays_group_layer = new OpenLayers.Layer.WMS(
					"OverlaysGroup",
					["{{ ows_url }}"],
					{
						transparent: true,
						format: "image/png",
						dpi: "{{ dpi }}",
					},
					{
						isBaseLayer: false,
						gutter: 0,
						buffer: 0,
						visibility: true,
						singleTile: true,
						maxExtent: config.maxExtent,
						displayOutsideMaxExtent: false,
					}
				);
					{% endif %}
				{% else %}
				var overlays_group_layer = new OpenLayers.Layer('Empty');
				{% endif %}
				maplayers.push(overlays_group_layer);

				// drawing layers
				var points_layer = new OpenLayers.Layer.Vector('Points', {styleMap: WebgisStyles.drawing_style});
				var lines_layer = new OpenLayers.Layer.Vector('Lines', {styleMap: WebgisStyles.drawing_style});
				var polygons_layer = new OpenLayers.Layer.Vector('Polygons', {styleMap: WebgisStyles.drawing_style});
				maplayers.push(points_layer);
				maplayers.push(lines_layer);
				maplayers.push(polygons_layer);

				{% if print_composers %}
				var mmToPt = 2.834708; //conversion from mm to pt
				var printCapabilities = {
					'scales':[],
					'dpis':[
						{'name': '96dpi', 'value': '96'},
						{'name': '150dpi', 'value': '150'},
						{'name': '300dpi', 'value': '300'}
					],
					'outputFormats':[
						{'name': 'png'},
						{'name': 'pdf'}
					],
					'layouts':[
					{% for print_composer in print_composers %}
						{
							name: '{{ print_composer.name }}',
							map: {
								'width': {{ print_composer.map.width|stringformat:".3f" }}*mmToPt,
								'height': {{ print_composer.map.height|stringformat:".3f" }}*mmToPt
							},
							rotation: true,
							labels: {% if print_composer.labels %}['{{ print_composer.labels |join:"','"}}'],{% else %}[],{% endif %}
						},
					{% endfor %}
					],
				};

				var printExtent = new GeoExt.plugins.PrintExtent({
					printProvider: new GeoExt.data.PrintProvider({
						capabilities: printCapabilities,
					})
				});
				mappanel_plugins.push(printExtent);
				{% endif %}

				// map panel
				var mappanel = new GeoExt.MapPanel({
					id: 'map-panel',
					region: 'center',
					collapsible: false,
					zoom: 3,
					map: new WebgisMap("map", {
						allOverlays: {% if base_layers %}false{% else %}true{% endif %},
						units: config.units,
						projection: new OpenLayers.Projection(config.projection),
						resolutions: config.tile_resolutions,
						restrictedExtent: config.maxExtent,
						maxExtent: config.maxExtent,
						controls: [],
						{% if not mapcache_url %}tileManager: null{% endif %}
					}),
					layers: maplayers,
					items: [{
						xtype: "gx_zoomslider",
						aggressive: true,
						vertical: true,
						animate: false,
						height: 150,
						x: 17,
						y: 85,
						plugins: new GeoExt.ZoomSliderTip({
							template: '{% trans "Scale" %}: 1 : {scale}<br>{% trans "Resolution" %}: {resolution}'
						})
					}],
					tbar: {
						xtype: 'toolbar',
						dock: 'top',
						cls: 'main-toolbar',
					},
					bbar: [],
					stateId: 'map',
					plugins: mappanel_plugins
				});
				var mappanel_container = mappanel;


				var ctrl, action;
				{% if project != "empty" %}
				//featureinfo panel
				var featureinfo_panel = new WebGIS.FeatureInfoPanel({
					id: 'featureinfo-panel',
					map: mappanel.map,
					styleMap: WebgisStyles.featureinfo_style,
					collapseMode: 'mini',
					autoPanMapOnSelection: false,
					collapsible: true,
					collapsed: true,
					height: 200,
					split: true,
					region: 'south',
					animCollapse: false,
					bbar: [],
					listeners: {
						beforeexpand: function(panel) {
							// move items from map-panel's bootom toolbar into featureinfo bootom toolbar
							var bbar = panel.getBottomToolbar();
							mappanel.getBottomToolbar().items.each(function(item) {
								bbar.add(item);
							});
							bbar.doLayout();
							mappanel.getBottomToolbar().hide();
						},
						beforecollapse: function(panel) {
							// move items from featureinfo bootom toolbar into map-panel's bootom toolbar
							var bbar = mappanel.getBottomToolbar();
							panel.getBottomToolbar().items.each(function(item) {
								bbar.add(item);
							});
							bbar.doLayout();
							bbar.show();
						},
					}
				});

				var mappanel_container = new Ext.Panel({
					layout: 'border',
					region: 'center',
					items: [
						mappanel,
						featureinfo_panel
					]
				});
				{% endif %}

				var overlays_root = new WebGIS.WmsLayersNode({
					text: 'Root',
					expandable: false,
					cls: 'overlays-root',
					layer: overlays_group_layer,
					layersTree: JSON.parse('{{ layers|default:"[]"|escapejs }}'),
				});

				var baselayer_panel = new Ext.Panel({
					layout: 'fit',
					cls: 'layers-toolbar',
					{% if base_layers %}
					height: 23,
					items: new WebGIS.BaseLayersComboBox({
						id: 'base-layer-combo',
						editable: false,
						map: mappanel.map,
						baselayers: JSON.parse('{{ base_layers|escapejs }}'),
					}),
					{% else %}
					height: 1,
					{% endif %}
				})

				// layers tree
				var layer_treepanel = new Ext.tree.TreePanel({
					id: 'layers-tree-panel',
					cls: 'layers-panel',
					enableDD: true,
					root: overlays_root,
					split: true,
					border: true,
					collapsible: false,
					cmargins: '0 0 0 0',
					autoScroll: true,
					{% if layers %}
					title: '{% trans "Layers" %}',
					{% endif %}
				});

				// legend
				var layer_legend = new GeoExt.LegendPanel({
					id: 'legend-panel',
					title: '{% trans "Legend" %}',
					map: mappanel.map,
					border: false,
					ascending: false,
					autoScroll: true,
					filter: function(record) {
						var layer = record.data.layer;
						if (layer == points_layer || layer == lines_layer || layer == polygons_layer) {
							return false;
						}
						return true;
					},
					defaults: {
						cls: 'legend-item',
						showTitle: false,
						baseParams: {
							FORMAT: 'image/png',
							SYMBOLHEIGHT: '3',
							SYMBOLWIDTH: '5',
							LAYERFONTSIZE: '8',
							LAYERFONTBOLD: 'true',
							ITEMFONTSIZE: '8',
							ICONLABELSPACE: '5'
						}
					}
				});

				// properties
				var properties = new Ext.Panel({
					title: '{% trans "Properties" %}',
					autoScroll: true,
					html: '<div class="x-panel-body-text"> \
							{% if author %}<p><label>{% trans "Author" %}: </label>{{ author }}</p>{% endif %}\
							{% if email %}<p><label>{% trans "E-mail" %}: </label>{{ email }}</p>{% endif %}\
							{% if phone %}<p><label>{% trans "Phone" %}: </label>{{ phone }}</p>{% endif %}\
							{% if organization %}<p><label>{% trans "Organization" %}: </label>{{ organization }}</p>{% endif %}\
							{% if abstract %}<p><label>{% trans "Abstract" %}: </label>{{ abstract }}</p>{% endif %}\
							{% if online_resource %}<p><label>{% trans "Online resource" %}: </label><a href="{{ online_resource }}" target="_blank">{{ online_resource }}</a></p>{% endif %}\
							{% if fees %}<p><label>{% trans "Fees" %}: </label>{{ fees }}</p>{% endif %}\
							{% if access_constrains %}<p><label>{% trans "Access constraints" %}: </label>{{ access_constrains }}</p>{% endif %}\
							{% if keyword_list %}<p><label>{% trans "Keywords list" %}: </label>{{ keyword_list|join:", " }}</p>{% endif %}\
							<p><label>{% trans "Publish date" %}: </label>{{ publish_date }}</p> \
							{% if not user.is_guest %}<p><label>{% trans "WMS URL" %}: </label><a href="{{ wms_url }}" target="_blank">copy link location</a></p>{% endif %}</div>'
				});

				// properties
				var about_panel = new Ext.Panel({
					title: '{% trans "GIS.lab" %}',
					autoScroll: true,
					html: '<div class="x-panel-body-text"> \
							<p><label>{% trans "GIS.lab ID" %}: </label>{{ gislab_unique_id }}</p> \
							<p><label>{% trans "Version" %}: </label>{{ gislab_version }}</p> \
							<p><label>{% trans "Home page" %}: </label><a href="http://imincik.github.io/gis-lab" target="_blank">http://imincik.github.io/gis-lab</a></p> \
							<p><label>{% trans "Documentation" %}: </label><a href="https://github.com/imincik/gis-lab/wiki" target="_blank">https://github.com/imincik/gis-lab/wiki</a></p></div>'
				});

				// legend and properties panel
				var info_panel = new Ext.TabPanel({
					activeTab: 0,
					items: [
						layer_legend,
						properties,
						about_panel
					]
				});

				// left panel
				var left_panel = new Ext.Panel({
					title: '{% trans "Base Layers" %}',
					region: 'west',
					width: 250,
					cls: 'layers-panel',
					defaults: {
						width: '100%',
						flex: 1
					},
					layout: 'vbox',
					collapsible: true,
					animCollapse: false,
					layoutConfig: {
						align: 'stretch',
						pack: 'start'
					},
					items: [
						baselayer_panel,
						layer_treepanel,
						{% if project != "empty" %} info_panel {% endif %}
					]
				});

				// Toolbar Actions

				mappanel.getTopToolbar().add(' ');
				{% if project != "empty" %}
				{% include "viewer/actions/topics.js" %}
				mappanel.getTopToolbar().add(' ', '-', ' ');
				{% endif %}
				{% include "viewer/actions/basic.js" %}

				{% if project != "empty" %}
				mappanel.getTopToolbar().add(' ', '-', ' ');
					{% if print_composers %}
					{% include "viewer/actions/print.js" %}
					mappanel.getTopToolbar().add(' ', '-', ' ');
					{% endif %}
				{% include "viewer/actions/search.js" %}
				mappanel.getTopToolbar().add(' ');
				{% include "viewer/actions/featureinfo.js" %}
				{% endif %}

				mappanel.getTopToolbar().add(' ', '-', ' ');
				{% include "viewer/actions/measurement.js" %}
				mappanel.getTopToolbar().add(' ');
				{% include "viewer/actions/draw.js" %}

				// viewport
				var webgis = new Ext.Viewport({
					id: 'webgis-viewer',
					layout: 'fit',
					items: [{
						id: 'webgis-panel',
						xtype: 'panel',
						layout: "border",
						tbar: {
							xtype: 'toolbar',
							dock: 'top',
							layout: {
								type: 'hbox',
								pack: 'start',
							},
							cls: 'x-panel-header app-header',
							items: [{
									xtype: 'tbspacer',
									width: 120,
								}, {
									xtype: 'tbspacer',
									flex: 1
								}, {
									xtype: 'tbtext',
									text: '{{ root_title }}',
									cls: 'app-title'
								}, {
									xtype: 'tbspacer',
									flex: 1
								},{% if user.is_guest %} {
									xtype: 'tbtext',
									text: '{% trans "Guest" %}'
								}, {
									xtype: 'tbspacer',
									width: 5
								}, new Ext.Action({
									cls: 'x-btn-icon',
									iconCls: 'login-icon',
									tooltip: '{% trans "Log in" %}',
									handler: function(action) {
										window.location.href = Ext.urlAppend(String.format('https://{0}{% url "login" %}', location.host), Ext.urlEncode({next: window.location.href}));
									}
								}),{% else %} {
									xtype: 'tbtext',
									text: '{{ user.get_full_name }}'
								}, {
									xtype: 'tbspacer',
									width: 5
								}, new Ext.Action({
									cls: 'x-btn-icon',
									iconCls: 'logout-icon',
									tooltip: '{% trans "Log out" %}',
									handler: function(action) {
										window.location.href = Ext.urlAppend(String.format('https://{0}{% url "logout" %}', location.host), Ext.urlEncode({next: window.location.href}));
									}
								}),
								{% endif %}
								{
									xtype: 'tbspacer',
									width: 5
								}
							],
							listeners: {
								// center application's title depending on the user name length
								afterLayout: function(toolbar) {
									var width = toolbar.get(4).getWidth()+25;
									if (toolbar.get(0).width != width) {
										toolbar.get(0).width = width;
										toolbar.doLayout();
									}
								}
							}
						},
						items: [
							mappanel_container,
							left_panel
						]
					}],
					listeners: {
						afterrender: function() {
							// Destroy the splash screen
							Ext.get('loading-mask').fadeOut({
								duration: 1,
								remove: true,
							});
						}
					}
				});

				// controls
				var coords = new GeoExt.Toolbar.ControlDisplay({control: new OpenLayers.Control.MousePosition({separator: ' , '}), map: mappanel.map});
				var scale = new GeoExt.Toolbar.ControlDisplay({
					cls: 'scale-control',
					control: new OpenLayers.Control.Scale('', {geodesic: {{ projection.is_geographic|yesno:"true,false" }}}),
					map: mappanel.map
				});

				mappanel.getBottomToolbar().add(new Ext.Toolbar.TextItem({text: config.projection}));
				mappanel.getBottomToolbar().add(' ', '-',' ', scale, ' ', '-', '');
				mappanel.getBottomToolbar().add(coords);

				var geojson_links = new WebGIS.Toolbar.LinkList({
					id: 'geojson-links',
					textBefore: 'Drawings: ',
				});
				mappanel.getBottomToolbar().add('->', geojson_links);

				mappanel.map.zoomToExtent(zoom_extent, true);
				mappanel.map.addControl(new OpenLayers.Control.ScaleLine({geodesic: {{ projection.is_geographic|yesno:"true,false" }}}));
				mappanel.map.addControl(new OpenLayers.Control.PanPanel());
				mappanel.map.addControl(new OpenLayers.Control.ZoomPanel());
				mappanel.map.addControl(new OpenLayers.Control.Navigation());
				var attribution_control = new OpenLayers.Control.Attribution();
				{% if layers %}
				var update_overlays_attribitions = function(root, layer, visible_layers) {
					var attributions = [];
					root.cascade(function(node) {
						if (node.isLeaf() && node.attributes.checked) {
							var attribution = node.attributes.config.attribution;
							var attribution_html;
							if (attribution && attribution.title) {
								if (attribution.url) {
									attribution_html = String.format('<a href="{0}" target="_blank">{1}</a>', attribution.url, attribution.title);
								} else {
									attribution_html = attribution.title;
								}
								if (attributions.indexOf(attribution_html) == -1) {
									attributions.push(attribution_html);
								}
							}
						}
					});
					layer.attribution = attributions.join(', ');
					attribution_control.updateAttribution();
				};
				update_overlays_attribitions(overlays_root.root, overlays_root.root.layer);
				overlays_root.root.on('layerchange', update_overlays_attribitions);
				{% endif %}
				mappanel.map.addControl(attribution_control);
				map = mappanel.map;

				{% if vector_layers %}
				Ext.Ajax.request({
					method: 'GET',
					url: '{% url "viewer:vectorlayers" %}',
					params: {
						PROJECT: '{{ project }}'
					},
					success: function(response) {
						var features = new OpenLayers.Format.GeoJSON().read(response.responseText);
						Ext.getCmp('draw-action').importFeatures(features, false);
					},
					failure: function(response, opts) {
						Ext.MessageBox.show({
							title: '{% trans "Error" %}',
							msg: '{% blocktrans%}Failed to fetch vector layers data{% endblocktrans %}',
							minWidth: 300,
							closable: false,
							modal: true,
							buttons: Ext.Msg.OK,
						});
					}
				});
				{% endif %}
				// insert points from GET parameter
				{% if drawings %}
				var drawings_links = [];
				drawings_param = '{{ drawings|join:"," }}';
					{% for drawing_id in drawings %}
				drawings_links.push({
					hyperlink_text: '{{ drawing_id }}',
					href: Ext.urlAppend('{% url "storage:ball" %}', Ext.urlEncode({ID: '{{ drawing_id }}'})),
				});
				Ext.Ajax.request({
					method: 'GET',
					url: '{% url "storage:ball" %}',
					params: {
						ID: '{{ drawing_id }}'
					},
					success: function(response) {
						var features = new OpenLayers.Format.GeoJSON().read(response.responseText);
						Ext.getCmp('draw-action').importFeatures(features, false);

						// parse metadata
						var metadata = JSON.parse(response.responseText).metadata;
						Ext.each(drawings_links, function(link) {
							if (link.hyperlink_text == '{{ drawing_id }}') {
								link.name = metadata.title;
								geojson_links.setLinks(drawings_links);
							}
						})
					},
					failure: function(response, opts) {
						Ext.MessageBox.show({
							title: '{% trans "Error" %}',
							msg: '{% blocktrans%}Failed to fetch vector data (drawing: {{ drawing_id }}){% endblocktrans %}',
							minWidth: 300,
							closable: false,
							modal: true,
							buttons: Ext.Msg.OK,
						});
					}
				});
					{% endfor %}
				geojson_links.setLinks(drawings_links);
				{% endif %}

				{% include "viewer/permalink.js" %}
				{% if project != "empty" %}
				var expand_button = new Ext.Toolbar.Button({
					id: 'featureinfo-expand-button',
					html: '<div class="x-tool x-tool-collapse-north" ext:qtip="{% trans "Open attribute table" %}" />',
					cls: 'x-btn-icon',
					iconCls: 'x-tool-collapse-north',
					featureInfoPanel: featureinfo_panel,
					listeners: {
						click: function(button) {
							button.featureInfoPanel.expand();
						}
					}
				})
				mappanel.getBottomToolbar().add(' ', expand_button);
				featureinfo_panel.on('collapse', function(panel) {
					this.update('<div class="x-tool x-tool-collapse-north" ext:qtip="{% trans "Open attribute table" %}" />');
				}.bind(expand_button));
				featureinfo_panel.on('expand', function(panel) {
					this.update('<div class="x-tool x-tool-collapse-north invisible" />');
				}.bind(expand_button));
				{% endif %}

				// startup message
				{% if message %}
					if (typeof(Storage) === 'undefined' || localStorage.getItem( 'gislab-{{ project }}-notification_read') !== '{{ publish_date_unix }}') {
						Ext.MessageBox.show({
							title: '{% trans "Message" %}',
							msg: '{{ message|escapejs }}',
							minWidth: 300,
							closable: false,
							modal: true,
							buttons: Ext.Msg.OK,
							fn: function() {
								if (!typeof(Storage) !== 'undefined') {
									localStorage.setItem('gislab-{{ project }}-notification_read', '{{ publish_date_unix }}');
								}
							}
						});
					}
				{% endif %}
				mappanel.map.getControlsByClass('OpenLayers.Control.NavigationHistory')[0].clear();
			}; // end of main function

			Ext.QuickTips.init();
			Ext.onReady(main);
		</script>
	</head>
	<body>
		<!-- "Loading" Splash Screen -->
		<div id="loading-mask">
			<h1>Loading GIS.lab Web ...</h1>
		</div>
		<div id="map"></div>
	</body>
</html>
