[Desktop Entry]
Version=1.0
Type=Application
Name=GRASS GIS
Comment=GIS data processing and analysis
Exec=grass
Icon=grass
Terminal=true
Categories=Gislab;
Name[sk]=GRASS GIS
Comment[sk]=Spracovanie dát GIS a tvorba analýz
