[Desktop Entry]
Version=1.0
Type=Application
Name=GIS.lab OWS Cluster Statistics
Comment=GIS.lab OWS cluster statistics
Exec=firefox "http://server.gis.lab:1936"
Icon=
Path=
Terminal=false
Categories=Gislab-system;
StartupNotify=false
Name[sk]=Štatistiky OWS Klastra GIS.lab
Comment[sk]=Štatistiky OWS klastra GIS.lab
