[Desktop Entry]
Version=1.0
Type=Application
Name=GIS.lab Web
Comment=GIS.lab Web client
Exec=firefox "https://web.gis.lab/user/"
Icon=gislab-web
Path=
Terminal=false
Categories=Gislab;
StartupNotify=false
Name[sk]=GIS.lab Web
Comment[sk]=Klient GIS.lab Web
