<ons-page ng-controller="ProjectSettingsController" class="settings project-settings">
	<ons-toolbar fixed-style>
		<div class="left"><ons-back-button></ons-back-button></div>
		<div class="center">Project</div>
<!--		<div class="right"><ons-toolbar-button ng-click=""><i class="fa fa-history"></i></ons-toolbar-button></div>-->
	</ons-toolbar>
	<ons-scroller style="width: 100%; height: {{ screenHeight-64 }}px;">

		<ons-list class="gl-tree" ng-controller="AccordionController">
			<ons-list-header>
			<i class="fa fa-pencil"></i>Actual
			</ons-list-header>
			<ons-list-item class="textarea-input">
				<div style="width: 100%;">
					<textarea type="text" class="text-input text-input--transparent" placeholder="Project" ng-model="$storage.project"></textarea>
					<span class="multiline-wrapper" ng-bind="$storage.project"></span>
				</div>
			</ons-list-item>
			<ons-list-header>
				<i class="fa fa-bars"></i>My projects
			</ons-list-header>
			<div ng-repeat="project in userProjects">
				<ons-list-item  modifier="tappable" class="list__item--fa-button-right list__item--accordion" ng-class="{expanded: isAccordionShown(project)}">
					<ons-row>
						<ons-col class="left-center" ng-click="$storage.project=project.project">
							<div class="title list__item--two-lines-max"><span>{{ project.title }}</span></div>
						</ons-col>
						<ons-col width="30px">
							<div class="list-button expand" ng-click="toggleAccordion(project)">&nbsp;</div>
							<div style="display: inline-block;"></div>
						</ons-col>
					</ons-row>
				</ons-list-item>
				<ons-list-item class="list__item--accordion-content list__item--info-content" ng-show="isAccordionShown(project)" gl-fixed-height>
					<div>
						<label>Path:</label>
						<span>{{ ::project.project }}</span><br />
						<label>Publication time:</label>
						<span>{{ ::project.publish_date_text }}</span><br />
						<label>Expiration time:</label>
						<span>{{ ::project.expiration_date_text }}</span><br />
						<div style="height: 8px;"></div>
					</div>
				</ons-list-item>
			</div>
		</ons-list>
	</ons-scroller>
	<div class="toolbar bottom-toolbar">
		<ons-row>
			<ons-col>
				<ons-toolbar-button ng-click="app.navigator.pushPage('recent_projects.html')">
					<i class="icon fa fa-history"></i>Recent projects
				</ons-toolbar-button>
			</ons-col>
		</ons-row>
	</div>

	<ons-template id="recent_projects.html">
		<ons-page class="settings project-settings">
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button></ons-back-button></div>
				<div class="center">Recently used projects</div>
			</ons-toolbar>
			<ons-list class="gl-tree" ng-controller="AccordionController">
				<div ng-repeat="project in $storage.recentProjects">
					<ons-list-item  modifier="tappable" class="list__item--fa-button-right list__item--accordion" ng-class="{expanded: isAccordionShown(project)}">
						<ons-row>
							<ons-col class="left-center" ng-click="$storage.project=project.project;app.navigator.popPage()">
								<div class="title list__item--two-lines-max"><span>{{ project.project }}</span></div>
							</ons-col>
							<ons-col width="30px">
								<div class="list-button expand" ng-click="toggleAccordion(project)">&nbsp;</div>
								<div style="display: inline-block;"></div>
							</ons-col>
						</ons-row>
					</ons-list-item>
					<ons-list-item class="list__item--accordion-content list__item--info-content" ng-show="isAccordionShown(project)" gl-fixed-height>
						<div>
							<label>Path:</label>
							<span>{{ ::project.project }}</span><br />
							<label>Author:</label>
							<span>{{ ::project.author }}</span><br />
							<label>Publication time:</label>
							<span>{{ ::project.publish_date_text }}</span><br />
							<label>Expiration time:</label>
							<span>{{ ::project.expiration_date }}</span><br />
							<div style="height: 8px;"/>
						</div>
					</ons-list-item>
				</div>
			</ons-list>
		</ons-page>
	</ons-template>
</ons-page>
