<VirtualHost *:91>
	ServerAdmin root@gis.lab

	DocumentRoot /var/www/default
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /var/www/default/>
		Options -Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		Allow from all
	</Directory>

	ErrorLog "|/usr/bin/logger -t apache-default -p daemon.warn"
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
