local  all  postgres             peer map=map_as_postgres
local  all  all                  md5
host   all  all       0.0.0.0/0  ldap ldapserver=server.gis.lab ldaptls=1 ldapprefix="uid=" ldapsuffix=",ou=People,dc=gis,dc=lab"
