data_directory = '{{ GISLAB_PATH_APPLICATIONS }}/postgresql'
hba_file = '/etc/postgresql/9.1/main/pg_hba.conf'
ident_file = '/etc/postgresql/9.1/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/9.1-main.pid'
listen_addresses = '*'
port = 5432
unix_socket_directory = '/var/run/postgresql'
ssl = true
log_line_prefix = '%t '
search_path = '"$user",public'
datestyle = 'iso, mdy'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'

# logging
log_destination = 'syslog'
syslog_facility = 'LOCAL7'

{% if not GISLAB_DEBUG_SERVICES %}
log_min_messages = 'ERROR'
{% else %}
log_min_messages = 'DEBUG1'
log_min_error_statement = 'DEBUG1'
log_min_duration_statement = 0
{% endif %}

# configuration created by pgtune wizard will be placed below
