server {
    root {{ GISLAB_INSTALL_CLIENTS_ROOT }}/web/qgis-plugin;
    index index.html index.htm;

    listen 80;
    server_name qgis.*;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
