description "GIS.lab HTTP boot"
start on runlevel [2345]
stop on runlevel [06]
respawn
respawn limit 10 5

script
export PYTHONPATH={{ root_dir_boot }}/http

# GISLAB_DEBUG: set 'log-level' value to 'debug' for debug mode
exec gunicorn \
  --name gislab-http-boot \
  --bind 0.0.0.0:6700 \
  --user www-data \
  --group www-data \
  --workers 1 \
  --log-syslog \
  --log-level error \
  gislab-http-boot:application
end script
