#!/bin/bash
# GIS.lab worker installation script.


# install packages
apt-get update
apt-get --assume-yes --force-yes upgrade
apt-get --assume-yes --force-yes --no-install-recommends install {{ GISLAB_WORKER_INSTALL_PACKAGES|join(' ') }}

# copy worker configuration
cp -a client-worker/* /

# restart services if not in chroot
if [ -z "$CHROOT" ]; then
	# syslog
	service rsyslog restart

	# xvfb
	service xvfb restart

	# lighttpd
	service lighttpd restart
fi


# serf
gislab_serf_install

# restart serf if not in chroot
if [ -z "$CHROOT" ]; then
	service serf restart
	service serf-join restart
fi


# installation done
mkdir -p /var/lib/gislab
touch /var/lib/gislab/installation.done
