#!/bin/bash
# Main GIS.lab worker installation script.

set -e

# load configuration
source basic-configuration/etc/gislab_version

# source functions
source functions.sh


# set variable if we are running in chroot
# inode number different from number 2 indicates, that the apparent root is not the actual root
if [ "$(stat -c %i /)" != "2" ]; then
	echo "I: Running in chroot ..."
	CHROOT="yes"
	export CHROOT
fi


# sanity checks
if [ -f "/var/lib/gislab/installation.done" ]; then
	gislab_print_error "Installation is already done"
fi


# halt machine if something fails
if [ -z "$CHROOT" ]; then
	if [ "$GISLAB_DEBUG_INSTALL" == "False" ]; then
		trap "halt" SIGHUP SIGINT SIGKILL
	fi
fi


export DEBIAN_FRONTEND=noninteractive

# install basic configuration
if [ -f "/etc/gislab_version" ]; then
	echo "I: Skipping basic configuration ..."
else
	source basic-configuration/install.sh
fi

# install worker
source client-worker/install.sh
