#!/bin/bash
#

set -e

export DEBIAN_FRONTEND=noninteractive

# load configuration
source worker-basic-configuration/etc/gislab_version

# source functions
source functions.sh

# Determine if we are called during client image building or on booting worker
if [ "$1" != "desktop" ]; then
	WORKER="yes"
	export WORKER
fi

# halt machine if something fails (only on worker)
if [ -n "$WORKER" ]; then
	if [ "$GISLAB_DEBUG_INSTALL" == "False" ]; then
		trap "halt" SIGHUP SIGINT SIGKILL
	fi
fi

# install worker basic configuration
if [ "$WORKER" == "yes" ]; then
	source worker-basic-configuration/install-worker-basic-configuration.sh
fi

# install worker configuration
source worker-configuration/install-worker-configuration.sh
