version: "2"
services:
  qgisserver:
    restart: always
    image: gisquick/qgis-server
    volumes:
      - /storage/publish:/publish/:ro
    ports:
      - "9090:90"

  django:
    restart: always
    image: gislab/django
    links:
      - qgisserver
    volumes_from:
      - qgisserver
    volumes:
      - /var/www/gisquick/media:/var/www/gisquick/media/
      - /var/www/gisquick/data/:/var/www/gisquick/data/
      - /storage/publish:/publish/
    environment:
      - GUNICORN_ERRORLOG=-
      - GUNICORN_ACCESSLOG=-
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "10"

  nginx:
    restart: unless-stopped
    image: gisquick/nginx
    links:
      - django
    volumes_from:
      - django:ro
    volumes:
      - /etc/letsencrypt/:/etc/letsencrypt/
    ports:
      - "9000:443"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "10"