#!/bin/sh

[ -r /etc/lsb-release ] && . /etc/lsb-release

if [ -z "$DISTRIB_DESCRIPTION" ] && [ -x /usr/bin/lsb_release ]; then
	# Fall back to using the very slow lsb_release utility
	DISTRIB_DESCRIPTION=$(lsb_release -s -d)
fi


echo "
   _____ _____  _____  _       _     
  / ____|_   _|/ ____|| |     | |    
 | |  __  | | | (___  | | __ _| |__  
 | | |_ | | |  \___ \ | |/ _\` | '_ \ 
 | |__| |_| |_ ____) || | (_| | |_) |
  \_____|_____|_____(_)_|\__,_|_.__/   VERSION: {{ GISLAB_VERSION }}, ID: {{ GISLAB_UNIQUE_ID }}

"
