### SECRETS ###
SECRET_KEY = "{{ gislab_web_secret_key.stdout }}"

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'gislab',
		'USER': 'gislab_web',
		'PASSWORD': '{{ gislab_web_db_user_password.stdout }}',
		'HOST': '',
		'PORT': '',
	}
}
