import os

### SECRETS ###
SECRET_KEY = "{{ gislab_web_secret_key.stdout }}"

# Database
# Switch login credentials to postgresql superuser if launched under this user. This is useful for running
# admininstrator operations like 'syncdb' with required permissions.
if os.environ.has_key('USER') and os.environ['USER'] == 'postgres':
	USER = 'postgres'
	PASSWORD = ''
else:
	USER = 'gislab_web'
	PASSWORD = '{{ gislab_web_db_user_password.stdout }}'

# https://docs.djangoproject.com/en/1.6/ref/settings/#databases
DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'gislab',
		'USER': USER,
		'PASSWORD': PASSWORD,
		'HOST': '',
		'PORT': '',
	}
}
