# IP ranges of GIS.lab network
# ----------------------------
# 5         : server
# 50 - 250  : clients


authoritative;

log-facility local7;

subnet {{ GISLAB_NETWORK }}.0 netmask 255.255.255.0 {
    next-server {{ GISLAB_NETWORK_SERVER_IP }};
    option routers {{ GISLAB_NETWORK_SERVER_IP }};

    {+ GISLAB_UNKNOWN_MACHINES_POLICY +} unknown-clients;
    range {{ GISLAB_NETWORK }}.50 {{ GISLAB_NETWORK }}.250;
    option domain-name "gis.lab";
    option domain-search "gis.lab";
    option domain-name-servers {{ GISLAB_NETWORK_SERVER_IP }};
    option broadcast-address {{ GISLAB_NETWORK }}.255;
    option subnet-mask 255.255.255.0;
    if substring( option vendor-class-identifier, 0, 9 ) = "PXEClient" {
        filename "/gislab/pxelinux.0";
    }
}

include "/etc/dhcp/gislab_known_machines.conf";
