# <file system> <mount point>   <type>  <options>       <dump>  <pass>
proc            /proc           proc    nodev,noexec,nosuid              0   0
tmpfs           /mnt/booster    tmpfs   defaults,noatime,noexec,size=50% 0   0

# NFS
server.gis.lab:/storage/home          /mnt/home         nfs4   defaults,sec=krb5   0   0
server.gis.lab:/storage/repository    /mnt/repository   nfs4   defaults,sec=krb5   0   0
server.gis.lab:/storage/publish       /mnt/publish      nfs4   defaults,sec=krb5   0   0
server.gis.lab:/storage/barrel        /mnt/barrel       nfs4   defaults,sec=krb5   0   0
