#!/bin/bash

NAME="gislab-web"
WWW_ROOT={{ GISLAB_INSTALL_CLIENTS_ROOT }}/web/www
VIRTUALENV={{ GISLAB_INSTALL_CLIENTS_ROOT }}/web/virtualenv/gislab-web
SOCKET=$WWW_ROOT/gunicorn.sock
USER=www-data
GROUP=www-data
DJANGO_SETTINGS_MODULE=djproject.settings
DJANGO_WSGI_MODULE=djproject.wsgi
NUM_WORKERS={{ ansible_processor_vcpus * 2 + 1 }}

{% if GISLAB_DEBUG_SERVICES %}
LOG_LEVEL=debug
{% else %}
LOG_LEVEL=error
{% endif %}


source $VIRTUALENV/bin/activate
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$WWW_ROOT:$PYTHONPATH

cd $WWW_ROOT
RUNDIR=$(dirname $SOCKET)
test -d $RUNDIR || mkdir -p $RUNDIR

exec gunicorn ${DJANGO_WSGI_MODULE}:application \
    --name $NAME \
    --workers $NUM_WORKERS \
    --user=$USER --group=$GROUP \
    --log-syslog \
    --log-level $LOG_LEVEL \
    --bind=unix:$SOCKET
