<div ng-controller="LayersController" layout-fill>
	<md-tabs md-stretch-tabs="always" md-selected="stab" md-no-ink layout-fill>
		<md-tab class="md-primary">
			<md-tab-label><span>Topics</span></md-tab-label>
			<md-tab-body>
				<md-content>
				<md-radio-group class="md-primary" ng-model="selectedTopic.index" ng-change="loadTopic(selectedTopic.index)">
					<div ng-controller="AccordionController3">
						<md-list class="gl-tree">
							<div ng-repeat="topic in topics" gl-accordion
								depth="1" class="gl-tree-leaf" ng-class="{expanded: $accordion.expanded}">
								<md-list-item class="md-with-secondary radio-button-item">
									<md-radio-button md-no-ink ng-value="::$index" aria-label="{{ ::topic.title }}"></md-radio-button>
									<p>{{ ::topic.title }}</p>
									<md-button class="md-icon-button" aria-label="Info"
										ng-click="topicDetail(topic) || toggleAccordion($accordion)">
										<md-icon class="accordion-icon" style="color: #444;"
											md-svg-icon="arrow-down">
										</md-icon>
									</md-button>
								</md-list-item>
								<div class="layer-metadata" gl-accordion-content>
									<label>Abstract:</label>
									<span>{{ ::topic.detail.abstract }}</span><br />
									<label>Visible layers:</label>
									<div class="topic-visible-layers">
										<span ng-bind-html="::topic.detail.visibleLayers"></span>
									</div>
									<div style="height: 8px;"></div>
								</div>
							</div>
						</md-list>
					</div>
				</md-radio-group>
				</md-content>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label><label>Base Layers</label></md-tab-label>
			<md-tab-body>
				<md-content>
				<md-list class="baselayer-container gl-tree"
					gl-tree-view="baseLayers"
					gl-tree-id-attribute="name"
					gl-tree-label-attribute="title"
					gl-tree-children-attribute="layers"
					gl-tree-selected-value="getVisibleBaseLayer()"
					gl-tree-group-tpl="base-layer-group-node.html"
					gl-tree-leaf-tpl="base-layer-leaf-node.html"
					gl-tree-view-change-handler="setBaseLayer(value)">

					<script type="text/ng-template" id="base-layer-group-node.html">
						<div class="gl-tree-group" depth="{{ ::$node.treeDepth }}" gl-independent-accordion="{expanded: true}">
							<md-list-item>
								<div class="indent"></div>
								<md-button class="toggle-button" ng-click="toggleAccordion($accordion)" aria-label="Toggle">
									<md-icon md-svg-icon="{{ $accordion.expanded? 'square-minus': 'square-plus' }}" style="color: #444;"></md-icon>
								</md-button>
								<p>{{ ::node.title }}</p>
							</md-list-item>
							<div gl-accordion-content>
								<div ng-repeat="node in node.layers" gl-check-tree-node="node"></div>
							</div>
						</div>
					</script>

					<script type="text/ng-template" id="base-layer-leaf-node.html">
						<div gl-accordion depth="{{ ::$node.treeDepth }}"
							class="gl-tree-leaf" ng-class="{expanded: $accordion.expanded}">
							<md-list-item class="md-with-secondary radio-button-item">
								<div class="indent"></div>
								<md-radio-button md-no-ink ng-value="::node.name" aria-label="{{ ::node.title }}"></md-radio-button>
								<p>{{ ::node.title }}</p>
								<md-button class="md-icon-button" aria-label="Info" ng-click="toggleAccordion($accordion)">
									<md-icon class="accordion-icon" style="color: #444;"
										md-svg-icon="arrow-down">
									</md-icon>
								</md-button>
							</md-list-item>
							<div class="layer-metadata" gl-accordion-content>
								<label>Abstract:</label><span> {{ ::node.metadata.abstract }}</span><br />
								<label>Keywords list:</label><span> {{ ::node.metadata.keyword_list }}</span><br />
								<label>Maximal scale:</label><span> 1: {{ ::node.visibility_scale_min | number : 0 }}</span><br />
								<label>Minimal scale:</label><span> 1: {{ ::node.visibility_scale_max | number : 0 }}</span><br />
							</div>
						</div>
					</script>
					<md-radio-group class="md-primary" ng-model="$node.tree.selectedValue" ng-change="nodeSelected($node.tree.selectedValue)">
						<div ng-controller="AccordionController3">
							<div ng-repeat="node in rootNodes" gl-tree-node="node"></div>
						</div>
					</md-radio-group>
				</md-list>
				</md-content>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label><span>Layers</span></md-tab-label>
			<md-tab-body>
				<md-content>
				<md-list class="layers-container gl-tree"
					gl-check-tree-view="layers"
					gl-tree-id-attribute="name"
					gl-tree-label-attribute="title"
					gl-tree-children-attribute="layers"
					gl-tree-selected-attribute="visible"
					gl-tree-group-tpl="layer-group-node.html"
					gl-tree-leaf-tpl="layer-leaf-node.html"
					gl-tree-view-change-handler="layersVisibilityChanged(node)">

					<script type="text/ng-template" id="layer-group-node.html">
						<div class="gl-tree-group" depth="{{ ::$node.treeDepth }}" gl-independent-accordion="{expanded: true}">
							<md-list-item>
								<div class="indent"></div>
								<md-button class="toggle-button" ng-click="toggleAccordion($accordion)" aria-label="Toggle">
									<md-icon md-svg-icon="{{ $accordion.expanded? 'square-minus': 'square-plus' }}" style="color: #444;"></md-icon>
								</md-button>
								<md-checkbox md-no-ink class="md-primary"
									ng-model="$node.isChecked"
									ng-disabled="!$node.parent.isEnabled"
									ng-change="nodeSelected($node)">
									
								</md-checkbox><p>{{ ::node.title }}</p>
							</md-list-item>
							<div gl-accordion-content>
								<div ng-repeat="node in node.layers" gl-check-tree-node="node"></div>
							</div>
						</div>
					</script>

					<script type="text/ng-template" id="layer-leaf-node.html">
						<div gl-accordion depth="{{ ::$node.treeDepth }}"
							class="gl-tree-leaf" ng-class="{expanded: $accordion.expanded}">
							<md-list-item>
								<div class="indent"></div>
								<md-checkbox md-no-ink class="md-primary"
									ng-model="$node.isChecked"
									ng-disabled="!$node.parent.isEnabled"
									ng-change="nodeSelected($node)">
								</md-checkbox>
								<p>{{ ::$node.data.title }}</p>
								<md-button class="md-icon-button" aria-label="Info" ng-click="toggleAccordion($accordion)">
									<md-icon class="accordion-icon" style="color: #444;"
										md-svg-icon="arrow-down">
									</md-icon>
								</md-button>
							</md-list-item>
							<div class="layer-metadata" gl-accordion-content>
								<label>Geometry:</label>
								<md-icon md-svg-icon="{{::$node.data.geom_type | lowercase}}" style="width:32px;height:16px;"></md-icon><br />
								<label>Identification:</label>
									<use xlink:href=" '#icon-check' : '#icon-minus'}}"></use>
									<md-icon md-svg-icon="{{:: $node.data.queryable? 'check' : 'minus' }}" style="width:32px;height:16px;"></md-icon><br />
								<label>Abstract:</label><span> {{ ::$node.data.metadata.abstract }}</span><br />
								<label>Keywords list:</label><span> {{ ::$node.data.metadata.keyword_list }}</span><br />
								<label>Maximal scale:</label><span> 1: {{ ::$node.data.visibility_scale_min | number : 0 }}</span><br />
								<label>Minimal scale:</label><span> 1: {{ ::$node.data.visibility_scale_max | number : 0 }}</span><br />
							</div>
						</div>
					</script>
					<div ng-controller="AccordionController3">
						<div ng-repeat="node in rootNodes" gl-check-tree-node="node"></div>
					</div>
				</md-list>
				</md-content>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>