.x-grid3-td-time {
	width: 85px !important;
}

.x-grid3-td-download {
	width: 75px !important;
}

.x-grid3-td-permalink {
	width: 85px !important;
}

.x-grid3-td-statistics {
	width: 200px !important;
}

div.user-form {
	margin-top: 15px;
	padding-left: 15px;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
}

.user-form .x-form-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-form label {
	width: 150px !important;
}
