smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no
append_dot_mydomain = no
readme_directory = no
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
myhostname = server.gis.lab
alias_maps = hash:/etc/aliases, ldap:/etc/postfix/ldap-aliases.cf
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = gis.lab, server.gis.lab, localhost.gis.lab, localhost
mynetworks = {{ GISLAB_NETWORK }}.0/24, 127.0.0.0/8
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4
message_size_limit = 52428800
home_mailbox = Mail/

{% if GISLAB_SERVER_EMAIL_RELAY_LOGIN|default(None) != None and
      GISLAB_SERVER_EMAIL_RELAY_PASSWORD|default(None) != None and
      GISLAB_SERVER_EMAIL_RELAY_SERVER|default(None) != None %}
relayhost = [{{ GISLAB_SERVER_EMAIL_RELAY_SERVER }}]:587
smtp_tls_security_level = encrypt
smtp_sasl_security_options = noanonymous
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
{% else %}
relayhost = 
{% endif %}
