description "gislab client"

start on runlevel [2345]

stop on starting rc RUNLEVEL=[06]

pre-start script
	# use local swap if available
	for dev in $(find /dev -type b -regex ".*/[a-z]*"); do
		for part_num in $(gdisk -l $dev 2>/dev/null | awk '/Linux swap$/ { print $1 }'); do
			if [ -n "$part_num" ]; then
				swap="$dev$part_num"
				swapon $swap || true
			fi
		done
	done
end script

post-stop script
    grep -Eqsw "init=/sbin/init-gislab" /proc/cmdline || exit 0

    if [ -x /opt/gislab/system/nbd-disconnect ]; then
        /opt/gislab/system/nbd-disconnect&
    fi
end script
