description "gislab client"

start on (stopped udev-finish and runlevel [2345])

stop on starting rc RUNLEVEL=[06]

pre-start script
    # use local swap if available
    for dev in $(blkid -t TYPE="swap" -o device); do
        swapon $dev || true
    done
end script

post-stop script
    grep -Eqsw "init=/sbin/init-gislab" /proc/cmdline || exit 0
    grep -Eqsw "root=/dev/nbd0" /proc/cmdline || exit 0

    if [ -x {{ GISLAB_PATH_SYSTEM }}/nbd-disconnect ]; then
        {{ GISLAB_PATH_SYSTEM }}/nbd-disconnect&
    fi
end script
