description "Start GIS.lab cluster Serf agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [06]

kill signal INT    # Use SIGINT instead of SIGTERM so serf can depart the cluster.
respawn
respawn limit 15 5
kill timeout 90
normal exit 0 TERM INT

exec serf agent \
    -iface $(ip route show | awk '/^default / { print $5 }') \
    -keyring-file {{ GISLAB_PATH_SECRET }}/gislab_serf.key \
    -event-handler "user:reboot={{ root_dir_cluster }}/handlers/reboot.sh" \
    -event-handler "user:shutdown={{ root_dir_cluster }}/handlers/shutdown.sh" \
    -event-handler "query:uptime=uptime" \
    -tag role=client \
    -log-level=err \
    -syslog

post-stop script
    sleep 3
end script
