$TTL    604800
$ORIGIN gis.lab.
@  3600  IN    SOA       ns.gis.lab. root.gis.lab. (
               2015031501     ; Serial
               604800         ; Refresh
               86400          ; Retry
               2419200        ; Expire
               604800         ; Negative Cache TTL
               )

         IN    NS       ns.gis.lab.
         IN    MX  10   server.gis.lab.

ns       IN    A        {{ GISLAB_NETWORK_SERVER_IP }}
ns1      IN    A        {{ GISLAB_NETWORK_SERVER_IP }}
ns1      IN    AAAA     ::1

; server
server   IN    A        {{ GISLAB_NETWORK_SERVER_IP }}
boot     IN    CNAME    server
ms       IN    CNAME    server
web      IN    CNAME    server

; clients
c3  IN  A  {{ GISLAB_NETWORK }}.3
c4  IN  A  {{ GISLAB_NETWORK }}.4
{% for ip in range(6,255) %}
c{{ ip }}  IN  A  {{ GISLAB_NETWORK }}.{{ ip }}
{% endfor %}
