[SeatDefaults]
greeter-session=lightdm-gtk-greeter
user-session=xubuntu
allow-guest=false
greeter-hide-users=false
session-setup-script=/opt/gislab/system/lightdm/session-setup-script.sh
session-cleanup-script=/opt/gislab/system/lightdm/session-cleanup-script.sh
