[Desktop Entry]
Version=1.0
Type=Application
Name=GRASS GIS
Comment=GIS data processing and analysis
Exec=qrass70
Icon=grass70
Terminal=true
Categories=Gislab;
Name[sk]=GRASS GIS
Comment[sk]=Spracovanie dát GIS a tvorba analýz
