[Desktop Entry]
Version=1.0
Type=Application
Name=QGIS Desktop
Comment=GIS project creation, data processing, analysis and project publishing
Exec=qgis
Icon=qgis-icon
Path=
Terminal=false
Categories=Gislab;
StartupNotify=false
Name[sk]=QGIS Desktop
Comment[sk]=Tvorba projektov GIS, spracovanie dát, analýzy a publikovanie projektov
