[Desktop Entry]
Version=1.0
Type=Application
Name=Personal Geo Database
Comment=Advanced SpatiaLite database management
Exec=spatialite-gui
Path=
Terminal=false
Categories=Gislab;
StartupNotify=false
Name[sk]=Osobná geodatabáza
Comment[sk]=Pokročilá správa databázy SpatiaLite
