[Desktop Entry]
Version=1.0
Type=Application
Name=Quick Start
Comment=GIS.lab quick start manual
Exec=/usr/local/bin/gislab-documentation quick_start
Icon=
Path=
Terminal=false
Categories=Gislab-documentation;
StartupNotify=false
Name[sk]=Rýchly štart GIS.lab
Comment[sk]=Rýchly štart GIS.lab
