file:///mnt/home/{+ GISLAB_USER +}/Barrel
file:///mnt/home/{+ GISLAB_USER +}/Booster
file:///mnt/home/{+ GISLAB_USER +}/Projects
file:///mnt/home/{+ GISLAB_USER +}/Publish
file:///mnt/home/{+ GISLAB_USER +}/Repository
