[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout --logout
Icon=system-log-out
StartupNotify=false
Terminal=false
Categories=X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[am]=ሎግውጣ
Name[ar]=الخروج
Name[ast]=Colar
Name[be]=Выйсьці
Name[bg]=Изход
Name[bn]=লগআউট
Name[ca]=Surt
Name[cs]=Odhlásit se
Name[da]=Logud
Name[de]=Abmelden
Name[dz]=ཕྱིར་བསྐྱོད།
Name[el]=Αποσύνδεση
Name[en_GB]=Log Out
Name[eo]=Adiaŭu
Name[es]=Salir
Name[et]=Logi välja
Name[eu]=Irten
Name[fi]=Kirjaudu ulos
Name[fr]=Déconnexion
Name[gl]=Rematar a sesión
Name[he]=יציאה
Name[hr]=Odjava
Name[hu]=Kijelentkezés
Name[id]=Log Keluar
Name[is]=Skrá út
Name[it]=Esci
Name[ja]=ログアウト
Name[kk]=Шығу
Name[ko]=로그아웃
Name[lv]=Atteikties
Name[mk]=Одјава
Name[ms]=Daftar Keluar
Name[nb]=Logg ut
Name[nl]=Afmelden
Name[nn]=Logg ut
Name[pl]=Wyloguj
Name[pt]=Sair
Name[pt_BR]=Encerrar sessão
Name[ro]=Ieșire
Name[ru]=Выйти
Name[si]=ලොග්වුට් වන්න
Name[sk]=Odhlásiť
Name[sq]=Dilni
Name[sv]=Logga ut
Name[te]=నిష్క్రమించు
Name[tr]=Çıkış
Name[ug]=تىزىمدىن چىقىش
Name[uk]=Вийти
Name[ur]=لاگ آؤٹ
Name[ur_PK]=لاگ آؤٹ
Name[vi]=Thoát ra
Name[zh_CN]=注销
Name[zh_TW]=登出
Comment=Log out of the GIS.lab Desktop
Comment[bg]=Изход от  GIS.lab работна среда.
Comment[ca]=Surt de l’escriptori GIS.lab
Comment[cs]=Odhlásit se z prostředí GIS.lab
Comment[da]=Log ud fra skrivebordet GIS.lab
Comment[de]=Vom GIS.lab-Desktop abmelden
Comment[el]=Αποσύνδεση από το περιβάλλον εργασίας GIS.lab
Comment[en_GB]=Log out of the GIS.lab Desktop
Comment[es]=Salir del escritorio GIS.lab
Comment[eu]=Saioa itxi GIS.lab mahaigainean
Comment[fi]=Kirjaudu ulos GIS.lab-työpöydältä
Comment[fr]=Se déconnecter du bureau GIS.lab
Comment[gl]=Saír da sesión do escritorio GIS.lab
Comment[hr]=Odjava GIS.lab Desktop
Comment[hu]=Kijelentkezés az GIS.lab asztali környezetből
Comment[id]=Keluar Desktop GIS.lab
Comment[it]=Esce dall'ambiente GIS.lab
Comment[ja]=GIS.lab デスクトップからログアウトします
Comment[kk]=GIS.lab жұмыс ортасынан шығу
Comment[ko]=GIS.lab 데스크톱의 로그아웃
Comment[ms]=Daftar Keluar dari Desktop GIS.lab
Comment[nb]=Logg ut fra GIS.lab Skrivebordet
Comment[nl]=Afmelden van de GIS.lab-werkomgeving
Comment[nn]=Logg ut av skrivebordsmiljøet GIS.lab
Comment[pt]=Sair da sessão GIS.lab
Comment[pt_BR]=Deslogar do ambiente GIS.lab
Comment[ro]=Ieșire din mediul desktop GIS.lab
Comment[ru]=Выход из GIS.lab
Comment[sk]=Odhlásiť z prostredia GIS.lab
Comment[sq]=Dil prej Desktopit GIS.lab
Comment[sv]=Logga ut från GIS.lab-skrivbordet
Comment[te]=GIS.lab డెస్క్‍టాప్ నుండి నిష్క్రమించు
Comment[tr]=GIS.lab 'ten çık
Comment[ug]=GIS.lab ئۇستەل يۇزىدىن چىقىش
Comment[uk]=Вийти з середовища GIS.lab
Comment[zh_CN]=从 GIS.lab 桌面注销
Comment[zh_TW]=登出 GIS.lab 桌面
Path=
