### SECRETS ###
SECRET_KEY = "{{ gislab_web_secret_key.stdout }}"

# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases
DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'gislab_web',
		'USER': 'gislab_web',
		'PASSWORD': '{{ gislab_web_db_user_password.stdout }}',
		'HOST': '',
		'PORT': '',
	}
}
