### SECRETS ###
SECRET_KEY = '{{ webgis_secret_key.stdout }}'

# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases
DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'webgis',
		'USER': 'webgis',
		'PASSWORD': '{{ webgis_db_user_password.stdout }}',
		'HOST': '',
		'PORT': '',
	}
}
